@media screen {
  .AccordionList {
    max-width: 792px;
    margin-top: calc(2.586206896551724% + 24.758620689655174px);

    --leftIndent: calc(3.6363636363636362vw + 20.363636363636363px);
    --iconWidth: calc(2.727272727272727vw + 15.272727272727273px);
  }

  @media (min-width: 760px) {
    .AccordionList {
      --leftIndent: var(--grid-1-1);
      --iconWidth: var(--grid-1);
    }
  }
  .AccordionList--wide {
    max-width: 1104px;
  }

  .AccordionList__item {
    margin-bottom: var(--space-7);
  }
  .AccordionList__item--disabled {
    opacity: 0.5;
  }

  .AccordionList__title {
    font: var(--font-heading-s);
    padding-left: var(--leftIndent);
  }
  .AccordionList__button {
    position: relative;
    color: inherit;
    margin-left: calc(-1 * var(--leftIndent));
    padding-left: var(--leftIndent);
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    button.AccordionList__button:not([aria-controls]) {
    --WARNING--message: "`aria-controls` missing.";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    button.AccordionList__button:not([aria-controls])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }
  .AccordionList__button:hover,
  .AccordionList__button:active {
    color: var(--color-faxafloi-100);
  }
  .AccordionList__button:disabled {
    color: inherit;
  }

  .AccordionList__button::before {
    content: "close_small";
    content: "close_small" / "";

    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--large);
    -moz-osx-font-smoothing: grayscale;

    position: absolute;
    left: 0;
    width: var(--iconWidth);
    color: var(--color-suld-200);
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
  }
  .AccordionList__button[aria-pressed="true"]::before,
  .AccordionList__button[aria-expanded="true"]::before {
    transform: rotateZ(0);
  }
  .AccordionList__button:hover::before,
  .AccordionList__button:active::before {
    color: var(--color-faxafloi-150);
  }

  /* ---------------------------------------------------------------------------*/

  .AccordionList__content {
    font: var(--font-body-l); /* DECIDE: is this enough?*/
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .AccordionList__content
    h2 {
    --WARNING--message: "<h2/> not allowed here.";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .AccordionList__content
    h2::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .AccordionList__content
    h3 {
    --WARNING--message: "<h3/> not allowed here.";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .AccordionList__content
    h3::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  .AccordionList__content h4 {
    font: var(--font-heading-s);
    margin-bottom: var(--baseVerticalMargin);
  }
  .AccordionList__content p {
    margin-bottom: var(--baseVerticalMargin);
  }
  .AccordionList__content ul {
    list-style: none;
    padding: 0;
    margin-bottom: var(--baseVerticalMargin);
  }

  .AccordionList__content ul > li {
    margin-bottom: var(--space-2);
    position: relative;
    padding-left: var(--space-4);
  }

  .AccordionList__content ul > li::before {
    content: " ";
    float: left;
    margin-left: var(--space-4--neg);
    left: 0;
    width: var(--space-2);
    border-top: 0.125rem solid var(--theme-color-primary--safeish);
    margin-top: -0.0625rem;
    transform: translateY(50%);
  }
  .AccordionList__content ol {
    margin-bottom: var(--baseVerticalMargin);
  }
  .AccordionList__content li ol,
  .AccordionList__content li ul {
    margin-bottom: 0;
  }

  /* blockquote:not([class]), // Too strict??*/
  .AccordionList__content
    blockquote:not(.BlockQuote__quote):not(.PullQuote__quote) {
    --Quote--line: 2px solid var(--theme-color-primary);
    --Quote--indent: 0;

    max-width: calc(792px - var(--Quote--indent));
    padding-top: var(--space-5);
    margin-left: var(--Quote--indent);
    position: relative;
  }

  .AccordionList__content
    blockquote:not(.BlockQuote__quote):not(.PullQuote__quote)::before {
    content: "”";
    color: var(--theme-color-primary);
    font-size: 4.5rem;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 2px;
    text-align: center;
    width: 0.6em;
    margin-left: -0.3em;
  }

  .AccordionList__content
    blockquote:not(.BlockQuote__quote):not(.PullQuote__quote) {
    font: var(--font-body-m);
    position: relative;
    margin-bottom: var(--space-4);
    padding-left: calc(var(--space-2) + 2px);
  }
  @media (min-width: 480px) {
    .AccordionList__content
      blockquote:not(.BlockQuote__quote):not(.PullQuote__quote) {
      padding-left: calc(var(--space-3) + 2px);
      --Quote--indent: var(--space-2);
    }
  }
  .AccordionList__content
    blockquote:not(.BlockQuote__quote):not(.PullQuote__quote)::after {
    content: "";
    position: absolute;
    border-left: var(--Quote--line);
    top: var(--space-5);
    bottom: 0;
    left: 0;
    width: 2px;
  }
  .AccordionList__content
    blockquote:not(.BlockQuote__quote):not(.PullQuote__quote)
    > *:last-child {
    margin-bottom: 0;
  }

  .AccordionList__content > :last-child {
    margin-bottom: 0;
  }

  .AccordionList__content {
    font: var(--font-body-l);
    transition: all 200ms ease-in;
    transition-property: opacity, visibility, max-height, padding-top;
    overflow: hidden;
    margin-left: var(--leftIndent);
    padding-top: var(--space-4);
    max-height: 4000px;
    opacity: 1;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .AccordionList__content
    h1,
  html:not([data-disable-css-warnings-with-abandon="true"])
    .AccordionList__content
    h2,
  html:not([data-disable-css-warnings-with-abandon="true"])
    .AccordionList__content
    h3 {
    --WARNING--message: "Only use <h4/> and below here";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .AccordionList__content
    h1::before,
  html:not([data-disable-css-warnings-with-abandon="true"])
    .AccordionList__content
    h2::before,
  html:not([data-disable-css-warnings-with-abandon="true"])
    .AccordionList__content
    h3::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  .AccordionList__content .TextBlock {
    max-width: none;
    margin: 0;
  }

  .before-sprinkling
    .AccordionList__item:not([data-sprinkled])
    > .AccordionList__content {
    display: none;
  }

  .AccordionList__content[hidden] {
    display: block; /* override default*/
    padding-top: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
