@media screen {
  @media (min-width: 760px) {
    .ActionCards {
      display: grid;
      -moz-column-gap: var(--grid-gutter);
      column-gap: var(--grid-gutter);
      grid-template: "title list" / var(--grid-3) var(--grid-9);
    }
  }
  @media (min-width: 760px) and (max-width: 979px) {
    .ActionCards {
      grid-template-columns: var(--grid-4) var(--grid-8);
    }
  }
  .ActionCards {
    margin-bottom: calc(4.310344827586207% + 47.93103448275862px);
  }
  .ActionCards__title {
    grid-area: title;
    margin-bottom: var(--baseVerticalMargin);
    font: var(--font-heading-m);
  }
  .ActionCards__summary {
    grid-area: title;
    margin-bottom: var(--baseVerticalMargin);
  }
  .ActionCards__summary > .ImageCards__title {
    margin-bottom: var(--space-2);
  }

  .ActionCards__list {
    grid-area: list;
    display: grid;
    grid-auto-flow: row;
    gap: var(--grid-gutter);
    grid-template-columns: repeat(auto-fill, var(--card-width));
    --card-width: 100%;
  }

  @media (min-width: 480px) and (max-width: 759px) {
    .ActionCards__list {
      --card-width: var(--grid-6);
    }
  }
  @media (min-width: 760px) and (max-width: 979px) {
    .ActionCards__list {
      --card-width: var(--grid-4);
    }
  }
  @media (min-width: 980px) {
    .ActionCards__list {
      --card-width: var(--grid-3);
    }
  }
  .ActionCards__item {
  }
  .ActionCards__card {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;

    font: var(--font-body-m);
    display: block;
    width: 100%;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    min-height: 10.5rem;
    height: 100%;
  }

  .ActionCards__card::after {
    content: "";
    display: block;
    width: var(--space-5);
    height: 0.125rem;
    background: var(--Card-lineColor, currentColor);
    margin-top: var(--space-2);
    transition: width 200ms ease-in;
  }

  .ActionCards__card:hover::after {
    width: 100%;
  }

  .ActionCards__card__title,
  .ActionCards__card__summary {
    display: block;
  }

  .ActionCards__card__title {
    font: var(--font-heading-xs);
    font-weight: var(--font-weight--bold);
  }
  .ActionCards__card__title:last-child {
    margin-bottom: var(--space-1);
  }

  .ActionCards__card__meta {
    color: var(--color-suld-150);
    margin-top: var(--space-1);
  }

  .ActionCards__card__summary {
    margin-top: var(--space-1);
  }

  .ActionCards__card {
    --link-color--hover: var(--color-suld-200);

    border: var(--border-default);
  }
  .ActionCards__card:hover,
  .ActionCards__card:active {
    --Card-lineColor: var(--theme-color-primary--safeish);
    border: 1px solid var(--theme-color-primary--safeish);
  }
}
