/*!@deps SearchInput */

@media screen {
  .AutosuggestSearch {
    position: relative;
  }
  .AutosuggestSearch--open {
    z-index: var(--zindex--overlay);
  }

  .AutosuggestSearch__container {
    position: absolute;
    z-index: -1;
    top: 100%;
    margin-top: -1px;
    left: 0;
    right: 0;
    padding: 0;
    background: var(--color-suld-0);
    border: var(--border-default);

    max-height: 0;
    opacity: 0;
    transition: all 300ms ease-in;
    transition-property: max-height, opacity;
    overflow: hidden;
    box-shadow: var(--boxShadow-elevated);
  }

  .AutosuggestSearch__container--open {
    opacity: 1;
    max-height: 800px;
    padding: var(--space-1) 0;
  }

  .AutosuggestSearch__emptyMessage {
    padding: var(--space-2) var(--space-4);
  }
  .AutosuggestSearch__emptyMessage--loading {
    opacity: 0.5;
  }

  .AutosuggestSearch__list {
    --AutosuggestSearch--action-icon: none;
  }
  .AutosuggestSearch__list--action--search {
    --AutosuggestSearch--action-icon: "search";
  }
  .AutosuggestSearch__list--action--go {
    --AutosuggestSearch--action-icon: "arrow_forward";
  }

  .AutosuggestSearch__item {
    font: var(--font-body-l);
    padding: var(--space-2) var(--space-4);
    padding-right: var(--space-7);
  }

  @media (max-width: 759px) {
    .AutosuggestSearch__item {
      padding-left: var(--space-2);
      padding-right: var(--space-4);
    }
  }

  .AutosuggestSearch__item--highlighted {
    position: relative;
    cursor: pointer;
    color: var(--color-faxafloi-100);
    background-color: var(--color-suld-25);
  }
  .AutosuggestSearch__item--highlighted::before {
    content: var(--AutosuggestSearch--action-icon);
    content: var(--AutosuggestSearch--action-icon) / "";

    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--medium);
    -moz-osx-font-smoothing: grayscale;

    color: var(--color-suld-100);
    float: right;
    width: var(--space-1_5);
    margin-right: var(--space-3--neg);
    margin-left: var(--space-1);
  }

  @media (max-width: 759px) {
    .AutosuggestSearch__item--highlighted::before {
      margin-right: var(--space-2--neg);
      margin-left: var(--space-0_5);
    }
  }
}
