.BgBox {
  position: relative;
}

.BgBox::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;

  left: var(--grid-margin--neg);

  right: var(--grid-margin--neg);

  z-index: -1;
  background: inherit;
}

.BgBox {
  background-color: var(--color-suld-25);
  margin-bottom: var(--component-vspace--medium);
  padding: 70px 0;
}

.BgBox {
  padding: min(calc(5.7251908396946565vw + 11.679389312977108px), 90px) 0;
}
.BgBox[class] > *:last-child {
  margin-bottom: 0;
}
