/*!@deps Icon, ButtonBar */

.ButtonPrimary {
  --link-color: _inherit;
  --link-weight: _inherit;
  --link-underline: none;

  --link-color--hover: var(--link-color);
  --link-underline--hover: none;
  --link-underline-offset: 0;

  --Button--color: var(--color-faxafloi-100);
  --Button--color--active: var(--color-faxafloi-150);
  --Button--textColor: var(--color-suld-0);
  --Button--textColor--active: var(--color-suld-0);
  --Button--backgroundColor: var(--Button--color);
  --Button--backgroundColor--active: var(--Button--color--active);
  --Button--border: 0px;
  --Button--height: var(--space-7);
  --Button--iconOutdent: var(--space-1--neg);
  --Button--iconSpace: var(--space-0_5);

  /* normalize links */
  white-space: nowrap;
  vertical-align: middle;

  color: var(--Button--textColor);

  background-color: var(--Button--backgroundColor);
  display: inline-block;
  font: var(--font-button);
  border: var(--Button--border) solid var(--Button--color);
  line-height: calc(var(--Button--height) - 2 * var(--Button--border));
  margin-right: var(--Button--gapH);
  margin-bottom: var(--Button--gapV);
  text-align: center;
  border-radius: 0.1875rem;
  position: relative;
  transition: all 200ms ease-in;
  transition-property: border-color, background-color, color, text-shadow,
    box-shadow;
  padding: 0 calc(0.7633587786259541vw + 21.55725190839695px);
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  min-width: calc(4.580152671755725vw + 65.34351145038167px);
}

@media (min-width: 1368px) {
  .ButtonPrimary {
    min-width: 128px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.ButtonPrimary:active,
.ButtonPrimary:hover {
  outline: 0;
  text-decoration: none;
  box-shadow: var(--boxShadow-hover);
  color: var(--Button--textColor);
  border: var(--Button--border) solid var(--Button--color);
}

.ButtonPrimary:focus-visible {
  outline: 0;
  text-decoration: none;
  box-shadow: var(--boxShadow-hover);
  color: var(--Button--textColor);
  border: var(--Button--border) solid var(--Button--color);
}

.ButtonPrimary:active:not(:disabled):not([aria-disabled="true"]),
.ButtonPrimary[aria-pressed="true"] {
  text-decoration: none;
  --Button--color: var(--Button--color--active);
  --Button--textColor: var(--Button--textColor--active);
  --Button--backgroundColor: var(--Button--backgroundColor--active);
}

.ButtonPrimary:focus-visible {
  outline: 0.125rem solid var(--Button--color);
  outline-offset: 0.125rem;
}

.ButtonPrimary:disabled,
.ButtonPrimary[aria-disabled="true"] {
  box-shadow: none;
  opacity: 0.3;
}

.ButtonPrimary--wide {
  min-width: calc(6.0855263157894735vw + 228.75px);
}

@media (max-width: 759px) {
  .ButtonPrimary--wide {
    width: 100%;
  }
}

@media (min-width: 1368px) {
  .ButtonPrimary--wide {
    min-width: 312px;
  }
}

.ButtonPrimary--small {
  --Button--height: 2.5rem;

  min-width: calc(3.0534351145038165vw + 54.22900763358779px);
  padding-left: calc(0.7633587786259541vw + 13.557251908396948px);
  padding-right: calc(0.7633587786259541vw + 13.557251908396948px);
}

@media (min-width: 1368px) {
  .ButtonPrimary--small {
    min-width: 96px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.ButtonPrimary--go--back {
  order: -10;
}

.ButtonPrimary--go--back::before {
  content: "arrow_back";
  content: "arrow_back" / "";

  display: inline-block;
  text-indent: 0;
  text-align: center;
  width: 1em;
  vertical-align: top;
  font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  letter-spacing: normal;
  font-size: var(--icon-size--medium);
  -moz-osx-font-smoothing: grayscale;

  margin-left: var(--Button--iconOutdent);
  margin-right: var(--Button--iconSpace);
}

.ButtonPrimary--go--forward {
  order: 10;
  margin-left: auto;
}

.ButtonPrimary--go--forward::after {
  content: "arrow_forward";
  content: "arrow_forward" / "";

  display: inline-block;
  text-indent: 0;
  text-align: center;
  width: 1em;
  vertical-align: top;
  font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  letter-spacing: normal;
  font-size: var(--icon-size--medium);
  -moz-osx-font-smoothing: grayscale;

  margin-right: var(--Button--iconOutdent);
  margin-left: var(--Button--iconSpace);
}

.ButtonPrimary--small::before,
.ButtonPrimary--small::after {
  font-size: var(--icon-size--small);
}

.ButtonPrimary[data-icon]::before {
  --Icon--enabled: initial;

  margin-left: var(--Button--iconOutdent);
  margin-right: var(--Button--iconSpace);
}

/* ---------------------------------------------------------------------------*/

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonPrimary--small.ButtonPrimary--wide {
  --WARNING--message: "`--small` and `--wide` do NOT mix.";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonPrimary--small.ButtonPrimary--wide::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonPrimary--go--back[data-icon],
html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonPrimary--go--forward[data-icon] {
  --WARNING--message: "Icons and `--go--(back|forward)` do NOT mix.";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonPrimary--go--back[data-icon]::before,
html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonPrimary--go--forward[data-icon]::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonPrimary--go-back.ButtonPrimary--destructive,
html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonPrimary--go--forward.ButtonPrimary--destructive {
  --WARNING--message: "`--destructive` and `--go--(back|forward)` do NOT mix";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonPrimary--go-back.ButtonPrimary--destructive::before,
html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonPrimary--go--forward.ButtonPrimary--destructive::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

.ButtonPrimary--destructive {
  --Button--color: var(--color-heidmork-100);
  --Button--color--active: var(--color-heidmork-150);
}
