/*!@deps ButtonBar */

.ButtonTertiary {
  --link-color: _inherit;
  --link-weight: _inherit;
  --link-underline: none;

  --link-color--hover: var(--link-color);
  --link-underline--hover: none;
  --link-underline-offset: 0;

  color: var(--ButtonTertiary--color);
  position: relative;
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  vertical-align: middle;
  font: var(--font-button);
  padding: 2px 0;
  --dashWidth: var(--ButtonTertiary--dashWidth);
  padding-left: calc(var(--ButtonTertiary--dashSpace) + var(--dashWidth));
  padding-right: calc(
    var(--ButtonTertiary--hover--dashWidth) - var(--dashWidth)
  );
  margin-right: var(--ButtonTertiary--gapH);
  margin-bottom: var(--space-1);
  transition: all 100ms ease-in;
}

.ButtonTertiary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: var(--dashWidth);
  height: var(--ButtonTertiary--dashHeight);
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  color: var(--ButtonTertiary--dashColor);
  transform: translateY(-50%);
  transition: inherit;
}

.ButtonTertiary:active,
.ButtonTertiary:hover {
  --dashWidth: var(--ButtonTertiary--hover--dashWidth);
  color: var(--ButtonTertiary--color);
  outline: 0;
}

.ButtonTertiary:focus-visible {
  --dashWidth: var(--ButtonTertiary--hover--dashWidth);
  color: var(--ButtonTertiary--color);
  outline: 0;
}

.ButtonTertiary:active::before {
  width: var(--ButtonTertiary--dashWidth);
}

.ButtonTertiary:focus-visible::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -0.8125rem -1rem;
  border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
  border-radius: 0.5rem;
}

.ButtonTertiary--go--back {
  order: -10;
}

.ButtonTertiary--go--back::before {
  content: "";
  -webkit-mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20350%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M2.5%2055.3L45.2%2097.8C48.1%20100.7%2052.9%20100.7%2055.7%2097.8C58.6%2094.9%2058.6%2090.1%2055.7%2087.4L25.6%2057.4H350V42.6H25.8L55.8%2012.6C58.7%209.7%2058.7%204.9%2055.8%202.2C54.3%200.8%2052.4%200%2050.4%200C48.4%200%2046.6%200.7%2045.1%202.2L2.2%2044.9C0.8%2046.3%200%2048.2%200%2050.2C0.3%2052%201.1%2053.9%202.5%2055.3Z%22%20fill%3D%22%23231F20%22%2F%3E%0A%3C%2Fsvg%3E%0A")
    0% 50% / auto 12px no-repeat;
  mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20350%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M2.5%2055.3L45.2%2097.8C48.1%20100.7%2052.9%20100.7%2055.7%2097.8C58.6%2094.9%2058.6%2090.1%2055.7%2087.4L25.6%2057.4H350V42.6H25.8L55.8%2012.6C58.7%209.7%2058.7%204.9%2055.8%202.2C54.3%200.8%2052.4%200%2050.4%200C48.4%200%2046.6%200.7%2045.1%202.2L2.2%2044.9C0.8%2046.3%200%2048.2%200%2050.2C0.3%2052%201.1%2053.9%202.5%2055.3Z%22%20fill%3D%22%23231F20%22%2F%3E%0A%3C%2Fsvg%3E%0A")
    0% 50% / auto 12px no-repeat;
  height: 1em;
  overflow: hidden;
}

.ButtonTertiary:active,
.ButtonTertiary[aria-pressed="true"] {
  --ButtonTertiary--dashColor: _inherit;
  --ButtonTertiary--dashHeight: 0.375rem;
}

.ButtonTertiary--small {
  --ButtonTertiary--dashSpace: var(--space-1);
  /* font-weight: 400; */
}

.ButtonTertiary--destructive {
  --ButtonTertiary--color: var(--color-heidmork-100);
  --ButtonTertiary--dashColor: currentColor;
}

.ButtonTertiary:disabled,
.ButtonTertiary[aria-disabled="true"] {
  --dashWidth: var(--ButtonTertiary--dashWidth);
  --ButtonTertiary--dashColor: currentColor;
  --ButtonTertiary--color: _inherit;

  opacity: 0.5;
  pointer-events: none;
}

/* ---------------------------------------------------------------------------*/

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonTertiary[data-icon] {
  --WARNING--message: "No icons on `ButtonTertiary`";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonTertiary[data-icon]::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonTertiary--go--back.ButtonTertiary--destructive {
  --WARNING--message: "`--destructive` and `--go--back` do NOT mix";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonTertiary--go--back.ButtonTertiary--destructive::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonTertiary--go--forward {
  --WARNING--message: "`--go--forward` not supported on `ButtonTertiary`";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonTertiary--go--forward::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
