/*!@deps
    Icon
    ButtonBar
  */

.ButtonSecondary {
  --link-color: _inherit;
  --link-weight: _inherit;
  --link-underline: none;

  /* NOTE: This intentionally doesn't reset the :hover style*/
  /* unless..*/
  --link-color--hover: var(--link-color);
  --link-underline--hover: none;
  --link-underline-offset: 0;

  --Button--color: var(--color-faxafloi-100);
  --Button--color--active: var(--color-faxafloi-150);
  --Button--textColor: var(--color-suld-0);
  --Button--textColor--active: var(--color-suld-0);
  --Button--backgroundColor: var(--Button--color);
  --Button--backgroundColor--active: var(--Button--color--active);
  --Button--border: 0px;
  --Button--height: var(--space-8);
  --Button--iconOutdent: var(--space-0_5--neg);
  --Button--iconSpace: var(--space-1);

  /* normalize links*/
  white-space: nowrap;
  vertical-align: middle;

  color: var(--Button--textColor);

  background-color: var(--Button--backgroundColor);
  display: inline-block;
  font: var(--font-button);
  font-weight: var(--font-weight--bold);
  border: var(--Button--border) solid var(--Button--color);
  line-height: calc(var(--Button--height) - 2 * var(--Button--border));
  margin-right: var(--Button--gapH);
  margin-bottom: var(--Button--gapV);
  text-align: center;
  border-radius: 0.1875rem;
  position: relative;
  transition: all 200ms ease-in;
  transition-property: border-color, background-color, color, text-shadow,
    box-shadow;
  padding: 0 calc(0.7633587786259541vw + 21.55725190839695px);
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  min-width: calc(4.580152671755725vw + 65.34351145038167px);
}

@media (min-width: 1368px) {
  .ButtonSecondary {
    min-width: 128px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.ButtonSecondary:active,
.ButtonSecondary:hover,
.ButtonSecondary[data-focus-visible-added] {
  outline: 0;
  text-decoration: none;
  /* box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.09);*/
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: var(--Button--textColor);
  border: var(--Button--border) solid var(--Button--color);
}

.ButtonSecondary:focus-visible {
  outline: 0;
  text-decoration: none;
  /* box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.09);*/
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: var(--Button--textColor);
  border: var(--Button--border) solid var(--Button--color);
}

.ButtonSecondary:active,
.ButtonSecondary[aria-pressed="true"] {
  text-decoration: none;
  --Button--color: var(--Button--color--active);
  --Button--textColor: var(--Button--textColor--active);
  --Button--backgroundColor: var(--Button--backgroundColor--active);
}

.ButtonSecondary[data-focus-visible-added] {
  outline: 0.125rem solid var(--Button--color);
  outline-offset: 0.125rem;
}

.ButtonSecondary:focus-visible {
  outline: 0.125rem solid var(--Button--color);
  outline-offset: 0.125rem;
}

.ButtonSecondary:disabled,
.ButtonSecondary[aria-disabled="true"] {
  box-shadow: none;
  opacity: 0.3;
}

.ButtonSecondary--wide {
  min-width: calc(6.0855263157894735vw + 228.75px);
}

@media (max-width: 759px) {
  .ButtonSecondary--wide {
    width: 100%;
  }
}

@media (min-width: 1368px) {
  .ButtonSecondary--wide {
    min-width: 312px;
  }
}

.ButtonSecondary--small {
  --Button--iconOutdent: var(--space-0_5--neg);
  --Button--iconSpace: var(--space-1);
  --Button--height: 2.5rem;

  padding-left: calc(0.7633587786259541vw + 13.557251908396948px);
  padding-right: calc(0.7633587786259541vw + 13.557251908396948px);
}

@media (min-width: 1368px) {
  .ButtonSecondary--small {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.ButtonSecondary--go--back {
  order: -10;
}

.ButtonSecondary--go--back::before {
  display: inline-block;
  text-indent: 0;
  text-align: center;
  vertical-align: top;
  /* iconFontStyling*/
  font-family: icons, Esja, Helvetica, Arial, sans-serif;
  speak: none; /* speak property is deprecated*/
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased; /* fix for light text on dark background from beeing smudgy in webkit/mac*/
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  content: var(--icon--arrow-left);

  margin-left: var(--Button--iconOutdent);
  margin-right: var(--Button--iconSpace);
}

.ButtonSecondary--go--forward {
  order: 10;
  margin-left: auto;
}

.ButtonSecondary--go--forward::after {
  display: inline-block;
  text-indent: 0;
  text-align: center;
  vertical-align: top;
  /* iconFontStyling*/
  font-family: icons, Esja, Helvetica, Arial, sans-serif;
  speak: none; /* speak property is deprecated*/
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased; /* fix for light text on dark background from beeing smudgy in webkit/mac*/
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  content: var(--icon--arrow-right);

  margin-right: var(--Button--iconOutdent);
  margin-left: var(--Button--iconSpace);
}

.ButtonSecondary[data-icon]::before {
  --Icon--enabled: initial;

  margin-left: var(--Button--iconOutdent);
  margin-right: var(--Button--iconSpace);
}

/* ---------------------------------------------------------------------------*/

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonSecondary--small.ButtonSecondary--wide:hover {
  --WARNING--message: "`--small` and `--wide` do NOT mix.";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonSecondary--small.ButtonSecondary--wide:hover::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonSecondary--go--back[data-icon]:hover,
html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonSecondary--go--forward[data-icon]:hover {
  --WARNING--message: "Icons and `--go--(back|forward)` do NOT mix.";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonSecondary--go--back[data-icon]:hover::before,
html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonSecondary--go--forward[data-icon]:hover::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonSecondary--go-back.ButtonSecondary--destructive:hover,
html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonSecondary--go--forward.ButtonSecondary--destructive:hover {
  --WARNING--message: "`--destructive` and `--go--(back|forward)` do NOT mix";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonSecondary--go-back.ButtonSecondary--destructive:hover::before,
html:not([data-disable-css-warnings-with-abandon="true"])
  .ButtonSecondary--go--forward.ButtonSecondary--destructive:hover::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

.ButtonSecondary {
  --Button--color--active: var(--color-faxafloi-100);
  --Button--textColor: var(--Button--color);
  --Button--textColor--active: var(--Button--color--active);
  --Button--backgroundColor: var(--color-suld-0);
  --Button--backgroundColor--active: var(--color-suld-50);
  --Button--border: 1px;
}

.ButtonSecondary:disabled,
.ButtonSecondary[aria-disabled="true"] {
  /* opacity: 0.5;*/
}

.ButtonSecondary--destructive {
  --Button--color: var(--color-heidmork-100);
  --Button--color--active: var(--color-heidmork-100);
}
