/*!@deps FormField */

@media screen {
  .CheckboxButton {
    margin-bottom: var(--space-3);
  }

  .CheckboxButton__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }
  .CheckboxButton__label {
    --Toggler--knob--color: var(--color-suld-100);
    --Toggler--knob--color-active: var(--color-faxafloi-100);
    --Toggler--label--color: _inherit;

    display: inline-block;
    font: var(--font-button);
    font-weight: var(--font-weight--normal);
    padding: var(--space-1) 0;
    padding-left: 2.25rem;
    position: relative;
    color: var(--Toggler--label--color);
  }

  .CheckboxButton__label::before, /**/
    .CheckboxButton__label::after {
    content: "";
    position: absolute;
    top: var(--space-1);
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    transition: all 200ms ease-in;
    transition-property: box-shadow, border-color, background-color, outline;
  }

  .CheckboxButton__label::before {
    border: 0.0625rem solid var(--Toggler--knob--color);
    outline: 0 solid transparent;
  }
  .CheckboxButton__label::after {
  }

  /* Focus/Hover*/
  .CheckboxButton__label[class]:hover, /**/
    .CheckboxButton__input:focus + .CheckboxButton__label {
    color: var(--Toggler--label--color);
  }
  .CheckboxButton__label[class]:hover::before, /**/
    .CheckboxButton__input:focus + .CheckboxButton__label::before {
    border-color: var(--Toggler--knob--color-active);
    box-shadow: inset 0 0 0 2px var(--Toggler--knob--color-active);
  }

  /* Checked*/
  .CheckboxButton__input:checked + .CheckboxButton__label::before {
    border-color: transparent;
    background-color: var(--Toggler--knob--color-active);
    color: var(--color-suld-0);
  }
  /* Checked + Focus/Hover*/
  .CheckboxButton__input:checked + .CheckboxButton__label:hover::before, /**/
    .CheckboxButton__input:checked:focus + .CheckboxButton__label::before {
    outline: 0.0625rem solid var(--Toggler--knob--color-active);
    outline-offset: 0.0625rem;
  }

  .CheckboxButton__input:checked + .CheckboxButton__label::after {
    -webkit-mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M15.7072%203.70712L5.00008%2014.4142L0.292969%209.70712L1.70718%208.29291L5.00008%2011.5858L14.293%202.29291L15.7072%203.70712Z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")
      50% / 16px 16px no-repeat;
    mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M15.7072%203.70712L5.00008%2014.4142L0.292969%209.70712L1.70718%208.29291L5.00008%2011.5858L14.293%202.29291L15.7072%203.70712Z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")
      50% / 16px 16px no-repeat;
    background-color: var(--color-suld-0);
  }

  /* Invalid*/
  .CheckboxButton__input[aria-invalid="true"] + .CheckboxButton__label {
    --Toggler--knob--color: var(--color-heidmork-100);
    --Toggler--knob--color-active: var(--color-heidmork-100);
    --Toggler--label--color: var(--color-heidmork-100);

    --link-color: var(--color-heidmork-150);
    --link-underline: var(--link-underline--hairline);
  }

  /* Disabled*/
  .CheckboxButton__input[class]:disabled + .CheckboxButton__label {
    --Toggler--label--color: var(--color-suld-200);

    opacity: 0.5;
  }
  .CheckboxButton__input[class][readonly] + .CheckboxButton__label {
    opacity: 1;
  }
  .CheckboxButton__input[class]:disabled + .CheckboxButton__label::before {
    border-color: var(--color-suld-100);
    background-color: var(--color-suld-50);
    color: var(--color-suld-100);
    box-shadow: none;
    outline: 0;
  }

  /* Disabled + Checked*/

  .CheckboxButton__input:disabled:checked + .CheckboxButton__label::after {
    background-color: var(--color-suld-100);
  }

  .CheckboxButton__label__reqstar {
    border-bottom: none;
    float: left;
    margin-right: 0.15em;
  }

  .CheckboxButton__error {
    color: var(--color-heidmork-100);
    font-size: 0.75rem;
    line-height: 0.875rem;
    padding-left: 2.25rem;
    margin-top: 0;
  }

  .CheckboxButton__error::before {
    content: "error";
    content: "error" / "";

    font-variation-settings: "FILL" 1;

    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--small);
    -moz-osx-font-smoothing: grayscale;

    margin-right: 0.5rem;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .CheckboxButton__error:not([id]) {
    --WARNING--message: "should have id atribute to match input[aria-describedby]";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .CheckboxButton__error:not([id])::after {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  /*
    No-label variant
  */
  .CheckboxButton--nolabel {
    overflow: hidden;
    white-space: nowrap;

    margin-right: var(--space-2);
    display: inline-block;
    height: 1.5rem;
    margin-left: -2px;
    width: 1.5rem;
    vertical-align: top;
  }
  .CheckboxButton--nolabel > .CheckboxButton__label {
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .CheckboxButton--nolabel > .CheckboxButton__label::before {
    top: 2px;
    left: 2px;
  }
  .CheckboxButton--nolabel > .CheckboxButton__label::after {
    top: 2px;
    left: 2px;
  }
  .CheckboxButton--nolabel > .CheckboxButton__error {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .CheckboxButton--nolabel:not(div) {
    --WARNING--message: "--nolabel should only be used on <div/>s";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .CheckboxButton--nolabel:not(div)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  .CheckboxButton__label {
    font-weight: var(--font-weight--bold);
    width: 100%;
    height: 100%;
    padding: var(--space-3);
    padding-left: 3.75rem;
    border: 0.0625rem solid var(--color-suld-100);
    transition: all 200ms ease-in;
    transition-property: box-shadow, color, border-color, background-color;
    /* @deprecated support for old non-inner-wrapped markup (Remove in v0.9)*/
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .CheckboxButton__label > small, /* @deprecated support for old non-inner-wrapped markup (Remove in v0.9)*/
  .CheckboxButton__label__wrap > small {
    display: block;
    margin-top: var(--space-0_5);
    font: var(--font-label);
    font-weight: var(--font-weight--normal);
  }

  .CheckboxButton__label::before,
  .CheckboxButton__label::after {
    top: 50%;
    left: var(--space-3);
    margin-top: -0.625rem;
    margin-left: 0;
  }

  /* Focus + Hover*/
  .CheckboxButton__label:hover, /**/
  .CheckboxButton__input:focus + .CheckboxButton__label {
    border-color: var(--Toggler--knob--color-active);
    box-shadow: inset 0 0 0 2px var(--Toggler--knob--color-active);
  }

  /* Checked + Focus/Hover*/
  .CheckboxButton__input:checked + .CheckboxButton__label:hover::before, /**/
  .CheckboxButton__input:checked:focus + .CheckboxButton__label::before {
    outline: 0;
  }

  /* Disabled*/
  .CheckboxButton__input[class]:disabled + .CheckboxButton__label {
    --Toggler--label--color: var(--color-suld-150);

    border-color: var(--color-suld-100);
    background-color: var(--color-suld-50);
    box-shadow: none;
    opacity: 0.5;
  }

  .CheckboxButton__error {
    margin-top: var(--space-1);
    padding-left: var(--space-3);
  }
}

/* ===========================================================================*/
/* Inline for better compression and loading speed*/

@media screen {
  .CheckboxButtonsGroup > .FormField__options {
    -moz-column-gap: var(--grid-0-1);
    column-gap: var(--grid-0-1);
  }

  @media (min-width: 480px) {
    .CheckboxButtonsGroup > .FormField__options {
      display: flex;
      flex-flow: row wrap;
    }
  }
  .CheckboxButtonsGroup > * > .FormField__options__item {
    margin-bottom: clamp(
      16px,
      calc(0.9009009009009009vw + 11.675675675675675px),
      24px
    );
  }

  @media (min-width: 480px) {
    .CheckboxButtonsGroup > * > .FormField__options__item {
      width: var(--grid-6);
    }
  }
  @media (min-width: 980px) and (max-width: 1367px) {
    .CheckboxButtonsGroup > * > .FormField__options__item {
      width: var(--grid-4);
    }
  }
  @media (min-width: 1368px) {
    .CheckboxButtonsGroup > * > .FormField__options__item {
      width: var(--grid-3);
    }
  }

  .CheckboxButtonsGroup > * > .FormField__options__item > .CheckboxButton {
    margin-bottom: 0;
  }

  .CheckboxButtonsGroup--stacked > * > .FormField__options__item {
    width: 100%;
  }

  .CheckboxButtonsGroup > .FormField__error,
  .CheckboxButtonsGroup > .FormField__assist {
    position: relative;
    top: calc(-0.5 * var(--grid-0-1));
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .CheckboxButtonsGroup--slim {
    --WARNING--message: "Deprecated: .CheckboxButtonsGroup --slim is no longer supported";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .CheckboxButtonsGroup--slim::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .CheckboxButtonsGroup--2col {
    --WARNING--message: " Deprecated: . CheckboxButtonsGroup --2col is no longer supported";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .CheckboxButtonsGroup--2col::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .CheckboxButtonsGroup--3col {
    --WARNING--message: "Deprecated: . CheckboxButtonsGroup --3col is no longer supported";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .CheckboxButtonsGroup--3col::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }
}

@media screen {
  .RadioButton {
    margin-bottom: var(--space-3);
  }

  .RadioButton__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }
  .RadioButton__label {
    --Toggler--knob--color: var(--color-suld-100);
    --Toggler--knob--color-active: var(--color-faxafloi-100);
    --Toggler--label--color: _inherit;

    display: inline-block;
    font: var(--font-button);
    font-weight: var(--font-weight--normal);
    padding: var(--space-1) 0;
    padding-left: 2.25rem;
    position: relative;
    color: var(--Toggler--label--color);
  }

  .RadioButton__label::before, /**/
    .RadioButton__label::after {
    content: "";
    position: absolute;
    top: var(--space-1);
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    transition: all 200ms ease-in;
    transition-property: box-shadow, border-color, background-color, outline;
  }

  .RadioButton__label::before {
    border-radius: 50%;

    border: 0.0625rem solid var(--Toggler--knob--color);
    outline: 0 solid transparent;
  }
  .RadioButton__label::after {
  }

  /* Focus/Hover*/
  .RadioButton__label[class]:hover, /**/
    .RadioButton__input:focus + .RadioButton__label {
    color: var(--Toggler--label--color);
  }
  .RadioButton__label[class]:hover::before, /**/
    .RadioButton__input:focus + .RadioButton__label::before {
    border-color: var(--Toggler--knob--color-active);
    box-shadow: inset 0 0 0 2px var(--Toggler--knob--color-active);
  }

  /* Checked*/
  .RadioButton__input:checked + .RadioButton__label::before {
    border-color: transparent;
    background-color: var(--Toggler--knob--color-active);
    color: var(--color-suld-0);
  }
  /* Checked + Focus/Hover*/
  .RadioButton__input:checked + .RadioButton__label:hover::before, /**/
    .RadioButton__input:checked:focus + .RadioButton__label::before {
    outline: 0.0625rem solid var(--Toggler--knob--color-active);
    outline-offset: 0.0625rem;
  }

  .RadioButton__input:checked + .RadioButton__label::after {
    -webkit-mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20100%20100%22%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M50%2C0C22.4%2C0%2C0%2C22.4%2C0%2C50s22.4%2C50%2C50%2C50s50-22.4%2C50-50S77.6%2C0%2C50%2C0z%20M50%2C80c-16.6%2C0-30-13.4-30-30%20s13.4-30%2C30-30s30%2C13.4%2C30%2C30S66.6%2C80%2C50%2C80z%22%2F%3E%0A%3C%2Fsvg%3E%0A")
      50% / 16px 16px no-repeat;
    mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20100%20100%22%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M50%2C0C22.4%2C0%2C0%2C22.4%2C0%2C50s22.4%2C50%2C50%2C50s50-22.4%2C50-50S77.6%2C0%2C50%2C0z%20M50%2C80c-16.6%2C0-30-13.4-30-30%20s13.4-30%2C30-30s30%2C13.4%2C30%2C30S66.6%2C80%2C50%2C80z%22%2F%3E%0A%3C%2Fsvg%3E%0A")
      50% / 16px 16px no-repeat;
    background-color: var(--color-suld-0);
  }

  /* Invalid*/
  .RadioButton__input[aria-invalid="true"] + .RadioButton__label {
    --Toggler--knob--color: var(--color-heidmork-100);
    --Toggler--knob--color-active: var(--color-heidmork-100);
    --Toggler--label--color: var(--color-heidmork-100);

    --link-color: var(--color-heidmork-150);
    --link-underline: var(--link-underline--hairline);
  }

  /* Disabled*/
  .RadioButton__input[class]:disabled + .RadioButton__label {
    --Toggler--label--color: var(--color-suld-200);

    opacity: 0.5;
  }
  .RadioButton__input[class][readonly] + .RadioButton__label {
    opacity: 1;
  }
  .RadioButton__input[class]:disabled + .RadioButton__label::before {
    border-color: var(--color-suld-100);
    background-color: var(--color-suld-50);
    color: var(--color-suld-100);
    box-shadow: none;
    outline: 0;
  }

  /* Disabled + Checked*/

  .RadioButton__input:disabled:checked + .RadioButton__label::before {
    background-color: var(--color-suld-100);
    color: var(--color-suld-50);
  }

  .RadioButton__error {
    color: var(--color-heidmork-100);
    font-size: 0.75rem;
    line-height: 0.875rem;
    padding-left: 2.25rem;
    margin-top: 0;
  }

  .RadioButton__error::before {
    content: "error";
    content: "error" / "";

    font-variation-settings: "FILL" 1;

    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--small);
    -moz-osx-font-smoothing: grayscale;

    margin-right: 0.5rem;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .RadioButton__error:not([id]) {
    --WARNING--message: "should have id atribute to match input[aria-describedby]";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .RadioButton__error:not([id])::after {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  /*
    No-label variant
  */
  .RadioButton--nolabel {
    overflow: hidden;
    white-space: nowrap;

    margin-right: var(--space-2);
    display: inline-block;
    height: 1.5rem;
    margin-left: -2px;
    width: 1.5rem;
    vertical-align: top;
  }
  .RadioButton--nolabel > .RadioButton__label {
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .RadioButton--nolabel > .RadioButton__label::before {
    top: 2px;
    left: 2px;
  }
  .RadioButton--nolabel > .RadioButton__label::after {
    top: 2px;
    left: 2px;
  }
  .RadioButton--nolabel > .RadioButton__error {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .RadioButton--nolabel:not(div) {
    --WARNING--message: "--nolabel should only be used on <div/>s";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .RadioButton--nolabel:not(div)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  .RadioButton__label {
    font-weight: var(--font-weight--bold);
    width: 100%;
    height: 100%;
    padding: var(--space-3);
    padding-left: 3.75rem;
    border: 0.0625rem solid var(--color-suld-100);
    transition: all 200ms ease-in;
    transition-property: box-shadow, color, border-color, background-color;
    /* @deprecated support for old non-inner-wrapped markup (Remove in v0.9)*/
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .RadioButton__label > small, /* @deprecated support for old non-inner-wrapped markup (Remove in v0.9)*/
  .RadioButton__label__wrap > small {
    display: block;
    margin-top: var(--space-0_5);
    font: var(--font-label);
    font-weight: var(--font-weight--normal);
  }

  .RadioButton__label::before,
  .RadioButton__label::after {
    top: 50%;
    left: var(--space-3);
    margin-top: -0.625rem;
    margin-left: 0;
  }

  /* Focus + Hover*/
  .RadioButton__label:hover, /**/
  .RadioButton__input:focus + .RadioButton__label {
    border-color: var(--Toggler--knob--color-active);
    box-shadow: inset 0 0 0 2px var(--Toggler--knob--color-active);
  }

  /* Checked + Focus/Hover*/
  .RadioButton__input:checked + .RadioButton__label:hover::before, /**/
  .RadioButton__input:checked:focus + .RadioButton__label::before {
    outline: 0;
  }

  /* Disabled*/
  .RadioButton__input[class]:disabled + .RadioButton__label {
    --Toggler--label--color: var(--color-suld-150);

    border-color: var(--color-suld-100);
    background-color: var(--color-suld-50);
    box-shadow: none;
    opacity: 0.5;
  }

  .RadioButton__error {
    margin-top: var(--space-1);
    padding-left: var(--space-3);
  }

  .RadioButtonsGroup > .FormField__options {
    -moz-column-gap: var(--grid-0-1);
    column-gap: var(--grid-0-1);
  }

  @media (min-width: 480px) {
    .RadioButtonsGroup > .FormField__options {
      display: flex;
      flex-flow: row wrap;
    }
  }
  .RadioButtonsGroup > * > .FormField__options__item {
    margin-bottom: clamp(
      16px,
      calc(0.9009009009009009vw + 11.675675675675675px),
      24px
    );
  }

  @media (min-width: 480px) {
    .RadioButtonsGroup > * > .FormField__options__item {
      width: var(--grid-6);
    }
  }
  @media (min-width: 980px) and (max-width: 1367px) {
    .RadioButtonsGroup > * > .FormField__options__item {
      width: var(--grid-4);
    }
  }
  @media (min-width: 1368px) {
    .RadioButtonsGroup > * > .FormField__options__item {
      width: var(--grid-3);
    }
  }

  .RadioButtonsGroup > * > .FormField__options__item > .RadioButton {
    margin-bottom: 0;
  }

  .RadioButtonsGroup--stacked > * > .FormField__options__item {
    width: 100%;
  }

  .RadioButtonsGroup > .FormField__error,
  .RadioButtonsGroup > .FormField__assist {
    position: relative;
    top: calc(-0.5 * var(--grid-0-1));
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .RadioButtonsGroup--slim {
    --WARNING--message: "Deprecated: .RadioButtonsGroup --slim is no longer supported";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .RadioButtonsGroup--slim::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .RadioButtonsGroup--2col {
    --WARNING--message: " Deprecated: . RadioButtonsGroup --2col is no longer supported";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .RadioButtonsGroup--2col::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .RadioButtonsGroup--3col {
    --WARNING--message: "Deprecated: . RadioButtonsGroup --3col is no longer supported";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .RadioButtonsGroup--3col::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }
}
