/*!@deps FormField */

@media screen {
  .Checkbox {
    margin-bottom: var(--space-3);
  }

  .Checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }
  .Checkbox__label {
    --Toggler--knob--color: var(--color-suld-100);
    --Toggler--knob--color-active: var(--color-faxafloi-100);
    --Toggler--label--color: _inherit;

    display: inline-block;
    font: var(--font-button);
    font-weight: var(--font-weight--normal);
    padding: var(--space-1) 0;
    padding-left: 2.25rem;
    position: relative;
    color: var(--Toggler--label--color);
  }

  .Checkbox__label::before, /**/
    .Checkbox__label::after {
    content: "";
    position: absolute;
    top: var(--space-1);
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    transition: all 200ms ease-in;
    transition-property: box-shadow, border-color, background-color, outline;
  }

  .Checkbox__label::before {
    border: 0.0625rem solid var(--Toggler--knob--color);
    outline: 0 solid transparent;
  }
  .Checkbox__label::after {
  }

  /* Focus/Hover*/
  .Checkbox__label[class]:hover, /**/
    .Checkbox__input:focus + .Checkbox__label {
    color: var(--Toggler--label--color);
  }
  .Checkbox__label[class]:hover::before, /**/
    .Checkbox__input:focus + .Checkbox__label::before {
    border-color: var(--Toggler--knob--color-active);
    box-shadow: inset 0 0 0 2px var(--Toggler--knob--color-active);
  }

  /* Checked*/
  .Checkbox__input:checked + .Checkbox__label::before {
    border-color: transparent;
    background-color: var(--Toggler--knob--color-active);
    color: var(--color-suld-0);
  }
  /* Checked + Focus/Hover*/
  .Checkbox__input:checked + .Checkbox__label:hover::before, /**/
    .Checkbox__input:checked:focus + .Checkbox__label::before {
    outline: 0.0625rem solid var(--Toggler--knob--color-active);
    outline-offset: 0.0625rem;
  }

  .Checkbox__input:checked + .Checkbox__label::after {
    -webkit-mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M15.7072%203.70712L5.00008%2014.4142L0.292969%209.70712L1.70718%208.29291L5.00008%2011.5858L14.293%202.29291L15.7072%203.70712Z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")
      50% / 16px 16px no-repeat;
    mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M15.7072%203.70712L5.00008%2014.4142L0.292969%209.70712L1.70718%208.29291L5.00008%2011.5858L14.293%202.29291L15.7072%203.70712Z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")
      50% / 16px 16px no-repeat;
    background-color: var(--color-suld-0);
  }

  /* Invalid*/
  .Checkbox__input[aria-invalid="true"] + .Checkbox__label {
    --Toggler--knob--color: var(--color-heidmork-100);
    --Toggler--knob--color-active: var(--color-heidmork-100);
    --Toggler--label--color: var(--color-heidmork-100);

    --link-color: var(--color-heidmork-150);
    --link-underline: var(--link-underline--hairline);
  }

  /* Disabled*/
  .Checkbox__input[class]:disabled + .Checkbox__label {
    --Toggler--label--color: var(--color-suld-200);

    opacity: 0.5;
  }
  .Checkbox__input[class][readonly] + .Checkbox__label {
    opacity: 1;
  }
  .Checkbox__input[class]:disabled + .Checkbox__label::before {
    border-color: var(--color-suld-100);
    background-color: var(--color-suld-50);
    color: var(--color-suld-100);
    box-shadow: none;
    outline: 0;
  }

  /* Disabled + Checked*/

  .Checkbox__input:disabled:checked + .Checkbox__label::after {
    background-color: var(--color-suld-100);
  }

  .Checkbox__label__reqstar {
    border-bottom: none;
    float: left;
    margin-right: 0.15em;
  }

  .Checkbox__error {
    color: var(--color-heidmork-100);
    font-size: 0.75rem;
    line-height: 0.875rem;
    padding-left: 2.25rem;
    margin-top: 0;
  }

  .Checkbox__error::before {
    content: "error";
    content: "error" / "";

    font-variation-settings: "FILL" 1;

    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--small);
    -moz-osx-font-smoothing: grayscale;

    margin-right: 0.5rem;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .Checkbox__error:not([id]) {
    --WARNING--message: "should have id atribute to match input[aria-describedby]";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .Checkbox__error:not([id])::after {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  /*
    No-label variant
  */
  .Checkbox--nolabel {
    overflow: hidden;
    white-space: nowrap;

    margin-right: var(--space-2);
    display: inline-block;
    height: 1.5rem;
    margin-left: -2px;
    width: 1.5rem;
    vertical-align: top;
  }
  .Checkbox--nolabel > .Checkbox__label {
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .Checkbox--nolabel > .Checkbox__label::before {
    top: 2px;
    left: 2px;
  }
  .Checkbox--nolabel > .Checkbox__label::after {
    top: 2px;
    left: 2px;
  }
  .Checkbox--nolabel > .Checkbox__error {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .Checkbox--nolabel:not(div) {
    --WARNING--message: "--nolabel should only be used on <div/>s";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .Checkbox--nolabel:not(div)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }
}

/* ===========================================================================*/
/* Inline for better compression and loading speed*/

@media screen {
  .CheckboxGroup--inline > .FormField__options {
    margin: 0 -0.9375rem;
    display: flex;
    flex-flow: row wrap;
  }
  .CheckboxGroup > * > .FormField__options__item {
    margin-bottom: 0;
  }
  .CheckboxGroup > * > .FormField__options__item > .Checkbox {
    margin-bottom: 0;
  }
  .CheckboxGroup--inline > * > .FormField__options__item {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    flex-shrink: 1;
  }
}

@media screen {
  .Radio {
    margin-bottom: var(--space-3);
  }

  .Radio__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }
  .Radio__label {
    --Toggler--knob--color: var(--color-suld-100);
    --Toggler--knob--color-active: var(--color-faxafloi-100);
    --Toggler--label--color: _inherit;

    display: inline-block;
    font: var(--font-button);
    font-weight: var(--font-weight--normal);
    padding: var(--space-1) 0;
    padding-left: 2.25rem;
    position: relative;
    color: var(--Toggler--label--color);
  }

  .Radio__label::before, /**/
    .Radio__label::after {
    content: "";
    position: absolute;
    top: var(--space-1);
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    transition: all 200ms ease-in;
    transition-property: box-shadow, border-color, background-color, outline;
  }

  .Radio__label::before {
    border-radius: 50%;

    border: 0.0625rem solid var(--Toggler--knob--color);
    outline: 0 solid transparent;
  }
  .Radio__label::after {
  }

  /* Focus/Hover*/
  .Radio__label[class]:hover, /**/
    .Radio__input:focus + .Radio__label {
    color: var(--Toggler--label--color);
  }
  .Radio__label[class]:hover::before, /**/
    .Radio__input:focus + .Radio__label::before {
    border-color: var(--Toggler--knob--color-active);
    box-shadow: inset 0 0 0 2px var(--Toggler--knob--color-active);
  }

  /* Checked*/
  .Radio__input:checked + .Radio__label::before {
    border-color: transparent;
    background-color: var(--Toggler--knob--color-active);
    color: var(--color-suld-0);
  }
  /* Checked + Focus/Hover*/
  .Radio__input:checked + .Radio__label:hover::before, /**/
    .Radio__input:checked:focus + .Radio__label::before {
    outline: 0.0625rem solid var(--Toggler--knob--color-active);
    outline-offset: 0.0625rem;
  }

  .Radio__input:checked + .Radio__label::after {
    -webkit-mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20100%20100%22%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M50%2C0C22.4%2C0%2C0%2C22.4%2C0%2C50s22.4%2C50%2C50%2C50s50-22.4%2C50-50S77.6%2C0%2C50%2C0z%20M50%2C80c-16.6%2C0-30-13.4-30-30%20s13.4-30%2C30-30s30%2C13.4%2C30%2C30S66.6%2C80%2C50%2C80z%22%2F%3E%0A%3C%2Fsvg%3E%0A")
      50% / 16px 16px no-repeat;
    mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20100%20100%22%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M50%2C0C22.4%2C0%2C0%2C22.4%2C0%2C50s22.4%2C50%2C50%2C50s50-22.4%2C50-50S77.6%2C0%2C50%2C0z%20M50%2C80c-16.6%2C0-30-13.4-30-30%20s13.4-30%2C30-30s30%2C13.4%2C30%2C30S66.6%2C80%2C50%2C80z%22%2F%3E%0A%3C%2Fsvg%3E%0A")
      50% / 16px 16px no-repeat;
    background-color: var(--color-suld-0);
  }

  /* Invalid*/
  .Radio__input[aria-invalid="true"] + .Radio__label {
    --Toggler--knob--color: var(--color-heidmork-100);
    --Toggler--knob--color-active: var(--color-heidmork-100);
    --Toggler--label--color: var(--color-heidmork-100);

    --link-color: var(--color-heidmork-150);
    --link-underline: var(--link-underline--hairline);
  }

  /* Disabled*/
  .Radio__input[class]:disabled + .Radio__label {
    --Toggler--label--color: var(--color-suld-200);

    opacity: 0.5;
  }
  .Radio__input[class][readonly] + .Radio__label {
    opacity: 1;
  }
  .Radio__input[class]:disabled + .Radio__label::before {
    border-color: var(--color-suld-100);
    background-color: var(--color-suld-50);
    color: var(--color-suld-100);
    box-shadow: none;
    outline: 0;
  }

  /* Disabled + Checked*/

  .Radio__input:disabled:checked + .Radio__label::before {
    background-color: var(--color-suld-100);
    color: var(--color-suld-50);
  }

  .Radio__error {
    color: var(--color-heidmork-100);
    font-size: 0.75rem;
    line-height: 0.875rem;
    padding-left: 2.25rem;
    margin-top: 0;
  }

  .Radio__error::before {
    content: "error";
    content: "error" / "";

    font-variation-settings: "FILL" 1;

    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--small);
    -moz-osx-font-smoothing: grayscale;

    margin-right: 0.5rem;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .Radio__error:not([id]) {
    --WARNING--message: "should have id atribute to match input[aria-describedby]";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .Radio__error:not([id])::after {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  /*
    No-label variant
  */
  .Radio--nolabel {
    overflow: hidden;
    white-space: nowrap;

    margin-right: var(--space-2);
    display: inline-block;
    height: 1.5rem;
    margin-left: -2px;
    width: 1.5rem;
    vertical-align: top;
  }
  .Radio--nolabel > .Radio__label {
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .Radio--nolabel > .Radio__label::before {
    top: 2px;
    left: 2px;
  }
  .Radio--nolabel > .Radio__label::after {
    top: 2px;
    left: 2px;
  }
  .Radio--nolabel > .Radio__error {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .Radio--nolabel:not(div) {
    --WARNING--message: "--nolabel should only be used on <div/>s";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .Radio--nolabel:not(div)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }
}

@media screen {
  .RadioGroup--inline > .FormField__options {
    margin: 0 -0.9375rem;
    display: flex;
    flex-flow: row wrap;
  }
  .RadioGroup > * > .FormField__options__item {
    margin-bottom: 0;
  }
  .RadioGroup > * > .FormField__options__item > .Radio {
    margin-bottom: 0;
  }
  .RadioGroup--inline > * > .FormField__options__item {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    flex-shrink: 1;
  }
}
