@media screen {
  .ContentImage {
    display: flex;
    flex-flow: column;
    margin-bottom: var(--baseVerticalMargin);
  }
  .ContentImage__caption {
    order: 1;
    font-size: var(--font-label-size);
    line-height: var(--font-label-leading);
    background-color: var(--color-suld-25);
    padding: 0.5rem 1rem;
    padding-bottom: 0;
  }
  .ContentImage__text,
  .ContentImage__credit {
    display: block;
    padding-bottom: 0.5rem;
  }
  .ContentImage__credit {
    font-size: 1em;
    color: var(--color-suld-150);
  }

  .ContentImage__image > img {
    width: 100%;
    height: auto;
    display: block;
  }

  @media (min-width: 480px) {
    .ContentImage__caption {
      display: flex;
      align-items: flex-start;
    }
    .ContentImage__text {
      flex-basis: auto;
      flex-shrink: 2; /* the __credit content tends to be shorter so lets prioritize shrinking the __text*/
      min-width: 60%;
    }
    .ContentImage__credit {
      text-align: right;
      flex-basis: auto;
      margin-left: auto;
      flex-shrink: 1;
    }
  }
}
