/*!@deps FormField */

/* 'react-datepicker/dist/react-datepicker.css' @ v2.14.1*/
@media screen {
  .Datepicker > * > .react-datepicker-wrapper {
    flex-grow: 1;
  }
  .Datepicker > * > .react-datepicker__tab-loop {
    width: auto;
  }
  .Datepicker input {
    width: 100%;
    border: 0;
    background: 0;
    padding: 0;
    width: 100%;
    line-height: inherit;
    color: inherit;
  }
  .Datepicker input:focus {
    outline: 0;
  }

  .react-datepicker {
    background-color: var(--color-suld-0);
    display: block;
    position: relative;
    font: var(--font-base);
  }

  .react-datepicker__input-container {
  }
  .react-datepicker__input-container::after {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;

    font-family: icons, Esja, Helvetica, Arial, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    content: var(--icon--calendar);

    display: block;
    color: var(--color-suld-0);
    font-size: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: content-box;
    right: 1px;
    width: var(--space-8);
    border-left: 2px solid var(--color-suld-150);
    color: var(--color-suld-150);
    line-height: var(--space-4);
    pointer-events: none;
  }
  .FormField--small .react-datepicker__input-container::after {
    line-height: calc(var(--space-0_5) + var(--space-2));
    width: var(--space-6);
  }

  .FormField--focused .react-datepicker__input-container::after {
    border-color: var(--color-faxafloi-100);
    color: var(--color-faxafloi-100);
  }

  .react-datepicker__aria-live {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  /* The popper*/
  .react-datepicker-popper {
    z-index: var(--zindex--overlay);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  }

  .react-datepicker-popper[data-placement^="bottom"] {
    margin-top: 10px;
  }

  .react-datepicker-popper[data-placement^="top"] {
    margin-bottom: 10px;
  }

  .react-datepicker-popper[data-placement^="right"] {
    margin-left: 8px;
  }

  .react-datepicker-popper[data-placement^="left"] {
    margin-right: 8px;
  }

  .react-datepicker__triangle {
    display: none;
  }
  .react-datepicker__current-month {
    display: none;
  }

  .react-datepicker__month-container::after {
    content: "";
    background: var(--color-suld-25);
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5.5rem;
  }

  .react-datepicker__header {
    position: relative;
    z-index: 4;
  }
  .react-datepicker__month {
    padding-bottom: 0.5rem;
    position: relative;
    z-index: 3;
  }

  .react-datepicker__header__dropdown {
    background: var(--color-faxafloi-100);
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
    padding: 1.5625rem 0.5rem 1.8125rem;
    text-align: center;
  }

  .react-datepicker__month-dropdown-container,
  .react-datepicker__year-dropdown-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: var(--color-suld-0);
    position: relative;
  }
  .react-datepicker__month-dropdown-container {
    margin-right: 0.75rem;
  }
  .react-datepicker__month-dropdown-container:hover,
  .react-datepicker__year-dropdown-container:hover {
    border-color: var(--color-suld-50);
    color: var(--color-suld-50);
  }

  .react-datepicker__navigation {
    overflow: hidden;
    white-space: nowrap;

    text-indent: 150%;
    text-align: left;

    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 1.625rem;
    left: 0.75rem;
    z-index: 5;
    height: 1.5rem;
    width: 1.5rem;
  }

  .react-datepicker__navigation::after {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;

    font-family: icons, Esja, Helvetica, Arial, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    content: var(--icon--chevron-left);

    display: block;
    color: var(--color-suld-0);
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    line-height: 1.5rem;
  }

  .react-datepicker__navigation:hover::after,
  .react-datepicker__navigation:focus::after {
    color: var(--color-suld-50);
  }

  .react-datepicker__navigation--next,
  .react-datepicker__navigation--previous {
    display: none;
  }
  /*
      .react-datepicker__navigation--next {
        right: 0.75rem;
        left: auto;

        &::after {
          content: var(--icon--chevron-right);
        }
      }

      .react-datepicker__navigation--previous--disabled::after,
      .react-datepicker__navigation--next--disabled::after {
        color: var(--color-suld-100);
      }
    */

  html:not([data-disable-css-warnings-with-abandon="true"])
    [class].react-datepicker__navigation--years:hover {
    --WARNING--message: initial;
    box-shadow: none !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    [class].react-datepicker__navigation--years:hover::before {
    content: none !important;
  }
  [class].react-datepicker__navigation--years {
    position: relative;
    top: auto;
    left: auto;
    margin-left: auto;
    margin-right: auto;
  }

  [class].react-datepicker__navigation--years::before {
    content: none;
  }

  [class].react-datepicker__navigation--years::after {
    content: var(--icon--chevron-down);
    color: var(--color-suld-150);
  }
  [class].react-datepicker__navigation--years:hover::after,
  [class].react-datepicker__navigation--years:focus::after {
    color: var(--color-suld-200);
  }

  [class].react-datepicker__navigation--years-upcoming::after {
    content: var(--icon--chevron-up);
  }

  .react-datepicker__month .react-datepicker__month-text {
    display: inline-block;
    width: 4rem;
    margin: 2px;
  }

  .react-datepicker__month--selected,
  .react-datepicker__month--in-selecting-range,
  .react-datepicker__month--in-range {
    background-color: var(--color-blafjoll-100);
    color: var(--color-suld-0);
  }

  .react-datepicker__month--selected:hover,
  .react-datepicker__month--selected:focus,
  .react-datepicker__month--in-selecting-range:hover,
  .react-datepicker__month--in-selecting-range:focus,
  .react-datepicker__month--in-range:hover,
  .react-datepicker__month--in-range:focus {
    background-color: var(--color-blafjoll-100);
  }

  .react-datepicker__day-names,
  .react-datepicker__week {
    white-space: nowrap;
    padding: 0 0.5rem;
  }
  .react-datepicker__day-names {
    padding-top: 0.5rem;
  }

  .react-datepicker__day-name,
  .react-datepicker__day {
    color: var(--color-suld-200);
    display: inline-block;
    width: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin: 0;
    border-radius: 50%;
  }
  .react-datepicker__day-name {
    font-weight: var(--font-weight--bold);
  }

  .react-datepicker__day {
    transition: all 200ms ease-in;
    transition-property: color, background-color;
  }

  .react-datepicker__day,
  .react-datepicker__month-text {
    cursor: pointer;
  }

  .react-datepicker__day:hover,
  .react-datepicker__day:focus,
  .react-datepicker__month-text:hover,
  .react-datepicker__month-text:focus {
    background-color: var(--color-faxafloi-150);
    color: var(--color-suld-0);
  }

  .react-datepicker__day--today,
  .react-datepicker__month-text--today {
    font-weight: var(--font-weight--bold);
  }

  .react-datepicker__day--highlighted,
  .react-datepicker__month-text--highlighted {
    background-color: var(--color-ellidaardalur-100);
    color: var(--color-suld-0);
  }

  .react-datepicker__day--highlighted:hover,
  .react-datepicker__day--highlighted:focus,
  .react-datepicker__month-text--highlighted:hover,
  .react-datepicker__month-text--highlighted:focus {
    background-color: var(--color-ellidaardalur-150);
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range {
    font-weight: 700;
    background-color: var(--color-suld-50);
    color: var(--color-faxafloi-100);
  }

  .react-datepicker__day--selected:hover,
  .react-datepicker__day--selected:focus,
  .react-datepicker__day--in-selecting-range:hover,
  .react-datepicker__day--in-selecting-range:focus,
  .react-datepicker__day--in-range:hover,
  .react-datepicker__day--in-range:focus,
  .react-datepicker__month-text--selected:hover,
  .react-datepicker__month-text--selected:focus,
  .react-datepicker__month-text--in-selecting-range:hover,
  .react-datepicker__month-text--in-selecting-range:focus,
  .react-datepicker__month-text--in-range:hover,
  .react-datepicker__month-text--in-range:focus {
    background-color: var(--color-suld-75);
    color: var(--color-faxafloi-150);
  }

  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected {
    background-color: var(--color-faxafloi-100);
    color: var(--color-suld-0);
  }

  .react-datepicker__day--keyboard-selected:hover,
  .react-datepicker__day--keyboard-selected:focus,
  .react-datepicker__month-text--keyboard-selected:hover,
  .react-datepicker__month-text--keyboard-selected:focus {
    background-color: var(--color-faxafloi-150);
  }

  .react-datepicker__day--in-selecting-range,
  .react-datepicker__month-text--in-selecting-range {
    background-color: rgba(33, 107, 165, 0.5);
  }

  .react-datepicker__month--selecting-range .react-datepicker__day--in-range,
  .react-datepicker__month--selecting-range
    .react-datepicker__month-text--in-range {
    background-color: var(--color-faxafloi-100);
    color: var(--color-suld-0);
  }

  .react-datepicker__month--selecting-range
    .react-datepicker__day--in-range:hover,
  .react-datepicker__month--selecting-range
    .react-datepicker__day--in-range:focus,
  .react-datepicker__month--selecting-range
    .react-datepicker__month-text--in-range:hover,
  .react-datepicker__month--selecting-range
    .react-datepicker__month-text--in-range:focus {
    background-color: var(--color-faxafloi-75);
    color: var(--color-suld-0);
  }

  .react-datepicker__day--outside-month {
    color: var(--color-suld-150);
  }

  .react-datepicker__day--disabled,
  .react-datepicker__month-text--disabled {
    cursor: default;
    color: var(--color-suld-100);
  }

  .react-datepicker__day--disabled:hover,
  .react-datepicker__month-text--disabled:hover {
    color: var(--color-suld-100);
    background-color: var(--color-suld-0);
  }
  .react-datepicker__month-text.react-datepicker__month--selected:hover,
  .react-datepicker__month-text.react-datepicker__month--selected:focus,
  .react-datepicker__month-text.react-datepicker__month--in-range:hover,
  .react-datepicker__month-text.react-datepicker__month--in-range:focus {
    background-color: var(--color-blafjoll-100);
  }

  .react-datepicker__year-read-view,
  .react-datepicker__month-read-view,
  .react-datepicker__month-year-read-view {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .react-datepicker__year-read-view:hover,
  .react-datepicker__month-read-view:hover,
  .react-datepicker__month-year-read-view:hover {
    cursor: pointer;
  }

  .react-datepicker__month-read-view {
    width: 8.875rem;
  }

  .react-datepicker__month-read-view--selected-month,
  .react-datepicker__year-read-view--selected-year {
    visibility: visible !important; /* override inline 'visibility: hidden'*/
    text-transform: capitalize;
    color: var(--color-suld-0);
    font: var(--font-bd-l);
    font-weight: var(--font-weight--bold);
  }

  .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow,
  .react-datepicker__month-year-read-view--down-arrow {
    visibility: visible !important; /* override inline 'visibility: hidden'*/
    position: relative;
    order: 1;
    margin-left: 0.3125rem;
    width: 0.875rem;
    height: 0.875rem;
  }

  .react-datepicker__year-read-view--down-arrow::before,
  .react-datepicker__month-read-view--down-arrow::before,
  .react-datepicker__month-year-read-view--down-arrow::before {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;

    font-family: icons, Esja, Helvetica, Arial, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    content: var(--icon--chevron-down);

    display: block;
    color: var(--color-suld-0);
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.875rem;
    line-height: 0.875rem;
  }

  .react-datepicker__year-dropdown,
  .react-datepicker__month-dropdown,
  .react-datepicker__month-year-dropdown {
    background-color: var(--color-suld-0);
    border-color: var(--color-suld-50);
    box-shadow: 2px 2px 0 var(--color-suld-50);
    color: var(--color-suld-150);
    position: absolute;
    width: 7.5rem;
    padding: 0.5rem 0;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 2px);
    z-index: 1;
    border-radius: 0.1875rem;
  }

  .react-datepicker__year-dropdown:hover,
  .react-datepicker__month-dropdown:hover,
  .react-datepicker__month-year-dropdown:hover {
    cursor: pointer;
  }

  .react-datepicker__year-dropdown--scrollable,
  .react-datepicker__month-dropdown--scrollable,
  .react-datepicker__month-year-dropdown--scrollable {
    height: 150px;
    overflow-y: scroll;
  }

  .react-datepicker__year-option,
  .react-datepicker__month-option,
  .react-datepicker__month-year-option {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .react-datepicker__year-option:hover,
  .react-datepicker__year-option:focus,
  .react-datepicker__month-option:hover,
  .react-datepicker__month-option:focus,
  .react-datepicker__month-year-option:hover,
  .react-datepicker__month-year-option:focus {
    background-color: var(--color-suld-50);
  }

  .react-datepicker__year-option:last-of-type,
  .react-datepicker__month-option:last-of-type,
  .react-datepicker__month-year-option:last-of-type {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .react-datepicker__year-option--selected,
  .react-datepicker__month-option--selected,
  .react-datepicker__month-year-option--selected {
    position: absolute;
    left: 0.3125rem;
  }

  .react-datepicker__tab-loop__end {
    opacity: 0.0001;
  }
}

@media (min-width: 760px) {
  .react-datepicker__month-container::after {
    width: 7rem;
  }
  .react-datepicker__day-names,
  .react-datepicker__week {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .react-datepicker__month {
    padding-bottom: 2rem;
  }
}
