@media screen {
  .ExtraLinks {
    background-color: var(--color-suld-25);
    padding: calc(6.4655172413793105% + 11.896551724137922px) 0;
    margin-bottom: calc(4.310344827586207% + 47.93103448275862px);

    position: relative;
  }

  .ExtraLinks::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--grid-margin--neg);
    right: var(--grid-margin--neg);
    z-index: -1;
    background: inherit;
  }

  .before-sprinkling * .ExtraLinks[data-seen-effect=""],
  .before-sprinkling [data-seen-effect=""] * .ExtraLinks,
  * .ExtraLinks[data-seen-effect=""][data-is-seen="false"],
  [data-seen-effect=""][data-is-seen="false"] * .ExtraLinks {
    opacity: 1;
    transform: none;
  }

  * .ExtraLinks[data-seen-effect=""][data-is-seen="true"],
  [data-seen-effect=""][data-is-seen="true"] * .ExtraLinks,
  * .ExtraLinks[data-seen-effect=""][data-is-seen=""],
  [data-seen-effect=""][data-is-seen=""] * .ExtraLinks {
    opacity: initial;
    transform: initial;
  }

  * .ExtraLinks[data-seen-effect=""][data-is-seen="true"],
  [data-seen-effect=""][data-is-seen="true"] * .ExtraLinks {
    transition: none;
  }

  *[data-seen-effect][data-is-seen] .ExtraLinks:after,
  [data-seen-effect][data-is-seen] * .ExtraLinks:after {
    content: "";
    position: absolute;
    left: var(--grid-margin--neg);
    top: 0;
    bottom: 0;
    border-left: calc(1.5267175572519083vw + 3.1145038167938957px) solid
      var(--color-suld-25);
    transform: scaleY(0);
    transform-origin: 0 100%;
  }

  .before-sprinkling *[data-seen-effect] .ExtraLinks::after,
  .before-sprinkling [data-seen-effect] * .ExtraLinks::after,
  *[data-seen-effect][data-is-seen="false"] .ExtraLinks::after,
  [data-seen-effect][data-is-seen="false"] * .ExtraLinks::after {
    transform: scaleY(1);
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks::after,
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks::after,
  *[data-seen-effect][data-is-seen=""] .ExtraLinks::after,
  [data-seen-effect][data-is-seen=""] * .ExtraLinks::after {
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks::after,
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks::after {
    transition: all 500ms ease-in-out;
    transition-property: transform;
  }

  .before-sprinkling *[data-seen-effect] .ExtraLinks__title,
  .before-sprinkling [data-seen-effect] * .ExtraLinks__title,
  *[data-seen-effect][data-is-seen="false"] .ExtraLinks__title,
  [data-seen-effect][data-is-seen="false"] * .ExtraLinks__title {
    opacity: 0;
    transform: translateY(200px);
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__title,
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__title,
  *[data-seen-effect][data-is-seen=""] .ExtraLinks__title,
  [data-seen-effect][data-is-seen=""] * .ExtraLinks__title {
    opacity: 1;
    transform: none;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__title,
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__title {
    transition: all 400ms ease-in-out;
    transition-property: opacity, transform;
  }

  .before-sprinkling *[data-seen-effect] .ExtraLinks__item,
  .before-sprinkling [data-seen-effect] * .ExtraLinks__item,
  *[data-seen-effect][data-is-seen="false"] .ExtraLinks__item,
  [data-seen-effect][data-is-seen="false"] * .ExtraLinks__item {
    opacity: 0;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item,
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item,
  *[data-seen-effect][data-is-seen=""] .ExtraLinks__item,
  [data-seen-effect][data-is-seen=""] * .ExtraLinks__item {
    opacity: 1;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item,
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item {
    transition: all 400ms ease-in-out;
    transition-property: opacity, transform;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(1),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(1) {
    transition-delay: 160ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(2),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(2) {
    transition-delay: 220ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(3),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(3) {
    transition-delay: 280ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(4),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(4) {
    transition-delay: 340ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(5),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(5) {
    transition-delay: 400ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(6),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(6) {
    transition-delay: 460ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(7),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(7) {
    transition-delay: 520ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(8),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(8) {
    transition-delay: 580ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(9),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(9) {
    transition-delay: 640ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(10),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(10) {
    transition-delay: 700ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(11),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(11) {
    transition-delay: 760ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item:nth-child(12),
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item:nth-child(12) {
    transition-delay: 820ms;
  }
  /* Default delay, applied to for items where n > 12*/

  *[data-seen-effect][data-is-seen="true"] .ExtraLinks__item,
  [data-seen-effect][data-is-seen="true"] * .ExtraLinks__item {
    transition-delay: 880ms;
  }

  .ExtraLinks::before {
    border-left: calc(1.5267175572519083vw + 3.1145038167938957px) solid
      var(--theme-color-primary);
  }

  @media (min-width: 1368px) {
    .ExtraLinks::before {
      border-width: 1.5rem;
    }
  }

  .ExtraLinks__main {
  }

  .ExtraLinks__title {
    grid-area: title;
    margin-bottom: var(--baseVerticalMargin);
    font: var(--font-heading-m);
    margin-bottom: calc(3.1488549618320607vw + 13.92366412213741px);
  }
  @media (min-width: 1368px) {
    .ExtraLinks__title {
      margin-bottom: 57px;
    }
  }
  .ExtraLinks__list {
    grid-area: list;
    display: grid;
    grid-auto-flow: row;
    gap: var(--grid-gutter);
    grid-template-columns: repeat(auto-fill, var(--card-width));
    --card-width: 100%;
  }

  @media (min-width: 480px) and (max-width: 759px) {
    .ExtraLinks__list {
      --card-width: var(--grid-6);
    }
  }
  @media (min-width: 760px) and (max-width: 979px) {
    .ExtraLinks__list {
      --card-width: var(--grid-4);
    }
  }
  @media (min-width: 980px) {
    .ExtraLinks__list {
      --card-width: var(--grid-3);
    }
  }

  .ExtraLinks__card {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;

    /* NOTE: This intentionally doesn't reset the :hover style*/
    /* unless..*/

    font: var(--font-body-m);
    display: block;
    width: 100%;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    min-height: 10.5rem;
    height: 100%;
  }

  .ExtraLinks__card::after {
    content: "";
    display: block;
    width: var(--space-5);
    height: 0.125rem;
    background: var(--Card-lineColor, currentColor);
    margin-top: var(--space-2);
    transition: width 200ms ease-in;
  }

  .ExtraLinks__card:hover::after {
    width: 100%;
  }

  .ExtraLinks__card__title,
  .ExtraLinks__card__summary {
    display: block;
  }

  .ExtraLinks__card__title {
    font: var(--font-heading-xs);
    font-weight: var(--font-weight--bold);
  }
  .ExtraLinks__card__title:last-child {
    margin-bottom: var(--space-1);
  }

  .ExtraLinks__card__meta {
    color: var(--color-suld-150);
    margin-top: var(--space-1);
  }

  .ExtraLinks__card__summary {
    margin-top: var(--space-1);
  }

  .ExtraLinks__card[class] {
    /* double strentgh selector to override defaut link :hover styling*/
    border: var(--border-default);
  }
  .ExtraLinks__card:hover,
  .ExtraLinks__card:active {
    border-color: transparent;
    background-color: var(--theme-color-primary);
    color: var(--theme-color-primary--text);
    outline: none;
  }

  .ExtraLinks__related {
    background-color: var(--color-suld-50);
    padding-right: 5.298013245033113%;
    padding-left: 8.609271523178808%;
    margin-top: calc(4.770992366412214vw + 24.732824427480907px);
    padding-top: calc(3.0534351145038165vw + 22.22900763358779px);
    padding-bottom: calc(4.770992366412214vw + 64.7328244274809px);
  }

  @media (min-width: 1368px) {
    .ExtraLinks__related {
      margin-top: 5.625rem;
      padding-top: 4rem;
      padding-bottom: 8.125rem;
    }
  }

  @media (min-width: 760px) and (max-width: 979px) {
    .ExtraLinks__related {
      margin-top: 2rem;
    }
  }

  .ExtraLinks__related__title {
    font: var(--font-heading-m);
    margin-bottom: calc(3.1488549618320607vw + 9.92366412213741px);
  }

  .ExtraLinks__related__item {
    margin-left: 1.625rem;
    position: relative;
  }
  .ExtraLinks__related__link {
    font: var(--font-body-l);
    color: var(--color-suld-200);
  }
  .ExtraLinks__related__link::before {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;

    font-family: icons, Esja, Helvetica, Arial, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    content: var(--icon--dash);

    position: absolute;
    top: 0;
    right: 100%;
    width: 1.625rem;
    text-align: left;
    font-size: 0.8em;
  }

  .ExtraLinks__related__link--text::before {
    content: var(--icon--text);
  }

  .ExtraLinks__related__link--pdf::before {
    content: var(--icon--file-pdf);
  }

  .ExtraLinks__related__link--link::before {
    content: var(--icon--link);
  }
}

@media (min-width: 760px) {
  .ExtraLinks {
    position: relative;
    border: 0;
  }

  .ExtraLinks__related__list {
  }
  .ExtraLinks__related__item {
    margin-bottom: 1.1875rem;
  }
}

@media (min-width: 980px) {
  .ExtraLinks--related {
    display: flex;
    margin-bottom: 19.039735099337747%;
  }
  .ExtraLinks--related > .ExtraLinks__main {
    width: var(--grid-6);
  }
  .ExtraLinks--related > .ExtraLinks__main > .ExtraLinks__list {
    grid-template-columns: repeat(2, var(--grid-3));
  }

  .ExtraLinks__related {
    margin-bottom: -17.3841059602649%;
    width: var(--grid-5);
    margin-left: auto;
  }
}
