/*!@deps FormField */

@media screen {
  .FileInput {
    margin-bottom: calc(4.310344827586207% + 17.93103448275862px);
    position: relative;
  }

  .FileInput__input {
    display: none;
  }
  .FileInput__input--fake {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 0px;
    width: 0px;
  }

  .FileInput__dropzone {
    background: var(--color-suld-25);
    border: 2px dashed var(--color-suld-100);
    padding: 1.25rem;
    transition: all 200ms ease-in;
    transition-property: background-color, border-color;
    cursor: pointer;
    margin-bottom: 1.25rem;
    text-align: center;
    color: var(--color-suld-200);
    position: relative;
  }

  .FileInput__dropzone:hover,
  .FileInput__dropzone:focus,
  .FileInput__input--fake:focus + .FileInput__dropzone,
  .FileInput__dropzone.FileInput__dropzone--highlight {
    border-color: var(--color-suld-150);
    background: var(--color-suld-50);
  }

  .FileInput__droptext {
    position: relative;
    text-align: center;
    color: var(--color-suld-200);
    padding-top: 5rem;
    margin: 0;
  }

  .FileInput__droptext::before {
    content: "arrow_upward";
    content: "arrow_upward" / "";

    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--medium);
    -moz-osx-font-smoothing: grayscale;

    position: absolute;
    top: 0;
    left: 50%;
    width: 4rem;
    margin-left: -2rem;
    line-height: 4rem;
    color: #fff; /* TODO: Should this be hardcoded?*/
    background: var(--color-faxafloi-100);
    border-radius: 50%;
  }

  .FileInput__droptext > strong {
    display: inline-block;
    color: var(--color-faxafloi-100);
    border-bottom: 2px solid var(--color-faxafloi-100);
  }

  /* disabled*/
  .FormField--disabled .FileInput__dropzone {
    border-color: var(--color-suld-75);
    background: var(--color-suld-0);
    cursor: default;
  }
  .FormField--disabled .FileInput__droptext,
  .FormField--disabled .FileInput__droptext > strong {
    color: var(--color-suld-100);
    border: none;
  }
  .FormField--disabled .FileInput__droptext::before {
    background: var(--color-suld-100);
  }

  /*invalid*/
  .FormField--invalid .FileInput__dropzone {
    background: rgba(216, 34, 47, 0.09999999999999998);
    border-color: var(--color-heidmork-100);
  }

  .FileInput__filelist {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .FileInput__file {
    width: 100%;
    padding-left: 26px;
    margin-bottom: 0.5rem;
    position: relative;
  }

  .FileInput__fileinfo {
    display: flex;
    vertical-align: middle;
    align-items: center;
    align-content: center;
  }

  .FileInput__filename {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
  }
  .FileInput__filesize {
    padding-left: 0.1875rem;
    white-space: nowrap;
  }

  .FileInput__preview {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 0.9375rem;
    vertical-align: middle;
  }
  .FileInput__preview img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .FileInput__file-remove {
    overflow: hidden;
    white-space: nowrap;

    position: absolute;
    top: 0;
    left: 0;
    color: inherit;
    width: var(--icon-size--small);
  }

  .FileInput__file-remove::before {
    content: "close";
    content: "close" / "";

    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--small);
    -moz-osx-font-smoothing: grayscale;

    color: var(--color-faxafloi-100);
  }

  .FileInput__file-remove:hover::before,
  .FileInput__file-remove:focus::before {
    color: var(--color-faxafloi-150);
  }
}

@media (min-width: 760px) {
  .FileInput__dropzone {
    padding: 4rem;
  }

  .FileInput--multi .FileInput__file {
    width: calc(50% - 1.875rem);
    margin-right: 1.875rem;
  }
}
