body {
  padding: 0;
}

.IframedLayout {
  min-height: 100vh;
  width: 100%;
  max-width: 75.5rem;
  margin: 0 auto;
  position: relative;
}

html:not([data-disable-css-warnings-with-abandon="true"]) .Layout {
  --WARNING--message: "`Layout` can not be used when `IframedLayout.css` is loaded";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"]) .Layout::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"]) .WizardLayout {
  --WARNING--message: "`WizardLayout` can not be used when `IframedLayout.css` is loaded";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .WizardLayout::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
