/*!@deps ButtonTertiary */

@media screen {
  .ImageCards {
    --ImageCards--fallback: url("/assets/illustrations/esjan.png");
  }

  @media (min-width: 760px) {
    .ImageCards {
      display: grid;
      -moz-column-gap: var(--grid-gutter);
      column-gap: var(--grid-gutter);
      grid-template: "title list" / var(--grid-3) var(--grid-9);
    }
  }
  @media (min-width: 760px) and (max-width: 979px) {
    .ImageCards {
      grid-template-columns: var(--grid-4) var(--grid-8);
    }
  }
  .ImageCards {
    margin-bottom: calc(5.387931034482758% + 44.913793103448285px);
  }
  /* Custom (optional) transition effect */

  .before-sprinkling * .ImageCards[data-seen-effect=""],
  .before-sprinkling [data-seen-effect=""] * .ImageCards,
  * .ImageCards[data-seen-effect=""][data-is-seen="false"],
  [data-seen-effect=""][data-is-seen="false"] * .ImageCards {
    opacity: 1;
    transform: none;
  }

  * .ImageCards[data-seen-effect=""][data-is-seen="true"],
  [data-seen-effect=""][data-is-seen="true"] * .ImageCards,
  * .ImageCards[data-seen-effect=""][data-is-seen=""],
  [data-seen-effect=""][data-is-seen=""] * .ImageCards {
    opacity: initial;
    transform: initial;
  }

  * .ImageCards[data-seen-effect=""][data-is-seen="true"],
  [data-seen-effect=""][data-is-seen="true"] * .ImageCards {
    transition: none;
  }

  .before-sprinkling *[data-seen-effect] .ImageCards__summary,
  .before-sprinkling [data-seen-effect] * .ImageCards__summary,
  *[data-seen-effect][data-is-seen="false"] .ImageCards__summary,
  [data-seen-effect][data-is-seen="false"] * .ImageCards__summary {
    opacity: 0;
    transform: translateY(200px);
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__summary,
  [data-seen-effect][data-is-seen="true"] * .ImageCards__summary,
  *[data-seen-effect][data-is-seen=""] .ImageCards__summary,
  [data-seen-effect][data-is-seen=""] * .ImageCards__summary {
    opacity: 1;
    transform: none;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__summary,
  [data-seen-effect][data-is-seen="true"] * .ImageCards__summary {
    transition: all 400ms ease-in-out;
    transition-property: opacity, transform;
  }

  .before-sprinkling *[data-seen-effect] .ImageCards__item,
  .before-sprinkling [data-seen-effect] * .ImageCards__item,
  *[data-seen-effect][data-is-seen="false"] .ImageCards__item,
  [data-seen-effect][data-is-seen="false"] * .ImageCards__item {
    opacity: 0;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item,
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item,
  *[data-seen-effect][data-is-seen=""] .ImageCards__item,
  [data-seen-effect][data-is-seen=""] * .ImageCards__item {
    opacity: 1;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item,
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item {
    transition: all 400ms ease-in-out;
    transition-property: opacity, transform;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(1),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(1) {
    transition-delay: 150ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(2),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(2) {
    transition-delay: 200ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(3),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(3) {
    transition-delay: 250ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(4),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(4) {
    transition-delay: 300ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(5),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(5) {
    transition-delay: 350ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(6),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(6) {
    transition-delay: 400ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(7),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(7) {
    transition-delay: 450ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(8),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(8) {
    transition-delay: 500ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(9),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(9) {
    transition-delay: 550ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(10),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(10) {
    transition-delay: 600ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(11),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(11) {
    transition-delay: 650ms;
  }

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item:nth-child(12),
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item:nth-child(12) {
    transition-delay: 700ms;
  }

  /* Default delay, applied to for items where n > 12*/

  *[data-seen-effect][data-is-seen="true"] .ImageCards__item,
  [data-seen-effect][data-is-seen="true"] * .ImageCards__item {
    transition-delay: 750ms;
  }

  .ImageCards--background {
    position: relative;
  }

  .ImageCards--background::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--grid-margin--neg);
    right: var(--grid-margin--neg);
    z-index: -1;
    background: inherit;
  }

  .ImageCards--background {
    background-color: var(--color-suld-25);

    padding: 100px 0;
  }

  .ImageCards--background {
    padding: min(calc(9.16030534351145vw + 10.687022900763353px), 136px) 0;
  }

  .ImageCards__title {
    grid-area: title;
    margin-bottom: var(--baseVerticalMargin);
    font: var(--font-hd-s);
  }
  .ImageCards__summary {
    grid-area: title;
    margin-bottom: var(--baseVerticalMargin);
  }
  .ImageCards__summary > .ImageCards__title {
    margin-bottom: var(--space-2);
  }

  .ImageCards__list {
    grid-area: list;
    display: grid;
    grid-auto-flow: row;
    gap: var(--grid-gutter);
    grid-template-columns: repeat(auto-fill, var(--card-width));
    --card-width: 100%;
  }

  @media (min-width: 480px) and (max-width: 759px) {
    .ImageCards__list {
      --card-width: var(--grid-6);
    }
  }
  @media (min-width: 760px) and (max-width: 979px) {
    .ImageCards__list {
      --card-width: var(--grid-4);
    }
  }
  @media (min-width: 980px) {
    .ImageCards__list {
      --card-width: var(--grid-3);
    }
  }
  .ImageCards__list {
    row-gap: 60px;
  }

  .ImageCards__list {
    row-gap: min(calc(3.0534351145038165vw + 38.22900763358779px), 80px);
  }

  .ImageCards__item {
    /* …*/
  }

  .ImageCards__card {
    --link-color: _inherit;
    --link-underline: 1px solid var(--color-suld-200);
    --link-underline--hover: 1px solid var(--color-faxafloi-100);
    --link-weight: var(--font-weight--normal);

    font: var(--font-bd-s);

    display: flex;
    flex-flow: column;
    height: 100%;
    padding-bottom: var(--space-3);
  }

  .ImageCards__card {
    padding-bottom: min(
      calc(1.5267175572519083vw + 11.114503816793896px),
      var(--space-4)
    );
  }

  .ImageCards__image {
    display: block;
    position: relative;
    padding-top: 61.76470588235294%;
    margin-bottom: var(--space-2);
  }

  .ImageCards__image {
    margin-bottom: min(
      calc(1.1450381679389312vw + 8.335877862595419px),
      var(--space-3)
    );
  }
  .ImageCards__image--missing {
    border: 0.75rem solid transparent;
    padding-top: calc(0.6176470588235294% - 1.5);
    background: var(--ImageCards--fallback) 50% 50% / contain no-repeat;
  }

  .ImageCards__image > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .ImageCards__card__title {
    font: var(--font-sh-s);
  }
  .ImageCards__card__title:last-child {
    margin-bottom: var(--space-1);
  }

  .ImageCards__card__meta {
    color: var(--color-suld-150);
    margin-top: var(--space-1);
  }

  .ImageCards__card__summary {
    margin-top: var(--space-1);
    color: var(--color-suld-200);
    flex-grow: 1;
  }
}
