/*!@deps
    ButtonTertiary
    Sharpie
    Bling
  */

@media screen {
  .InfoHero {
    position: relative;
    margin-bottom: calc(7.543103448275862% + 8.879310344827587px);
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
  }
  @media (min-width: 760px) {
    .InfoHero {
      flex-flow: row-reverse;
    }
    .InfoHero--align--left {
      flex-flow: row;
    }
  }

  .InfoHero__image {
    position: relative;
    margin: 0 var(--grid-margin--neg);
    padding-top: 75%;
  }

  @media (min-width: 480px) {
    .InfoHero__image {
      padding-left: var(--grid-margin);
      box-sizing: content-box;
      width: var(--grid-6);
      padding-top: 57.11920529801324%;
      max-height: 160px;
    }
  }

  .InfoHero__image--missing {
    background-color: var(--color-suld-50);
  }
  .InfoHero__image > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 50% 31%;
    object-position: 50% 31%;
  }

  @media (min-width: 760px) {
    .InfoHero__image > img {
      -o-object-position: 0% 31%;
      object-position: 0% 31%;
    }

    .InfoHero--align--left .InfoHero__image > img {
      -o-object-position: 100% 31%;
      object-position: 100% 31%;
    }
  }

  .InfoHero__content {
    margin-top: calc(2.1551724137931036% + 13.96551724137931px);
  }

  @media (min-width: 480px) {
    .InfoHero__content {
      width: 48.34437086092716%;
      margin-bottom: 14.072847682119205%;
    }
  }

  @media (min-width: 980px) {
    .InfoHero__content {
      width: 39.735099337748345%;
    }
  }

  .InfoHero__title {
    font: var(--font-hd-l);
    margin-bottom: 0;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  @media (min-width: 980px) {
    .InfoHero--align--left > * > .InfoHero__title {
      margin-right: var(--grid-1--neg);
    }
  }

  .InfoHero__titleblurb {
    margin-bottom: 5%;
  }
  .InfoHero__subtitle {
    font: var(--font-sh-l);
    margin-bottom: 0.5rem;
  }
  .InfoHero__blurb {
    font: var(--font-bd-l);
    color: var(--color-suld-150);
    margin-bottom: 0.5rem;
  }

  .InfoHero__buttons {
    margin-top: 2rem;
  }
  .InfoHero__buttons > .ButtonTertiary {
    display: block;
  }

  .InfoHero__footer {
    font: var(--font-bd-l);
    margin-top: 2rem;
  }

  /* ------------------------------------------------------------------------ */
  /*
      BEGIN: Styling for weird custom markup changes in some places on www.reykjavik.is

      .InfoHero__wrapper
          .InfoHero__head
              .InfoHero__title
          .InfoHero
              .InfoHero__content  (w/o `.InfoHero__title`)
              .InfoHero__image

              see `InfoHero.twig` for details...
    */
  .InfoHero__wrapper {
    display: flex;
    flex-direction: column;
  }
  .InfoHero__head {
  }
  .InfoHero__head + * > .InfoHero__image > img {
    top: var(--space-2);
  }
  /* END: custom markup */
}
