@media screen {
  .InfoBlock {
    background-color: var(--color-suld-25);
    padding: calc(8.620689655172415% + 15.862068965517238px) 8.609271523178808%;
    padding-left: var(--grid-margin);
    margin-left: var(--grid-margin--neg);
    box-sizing: content-box;
    position: relative;
    max-width: 1000px;
    margin-bottom: 4rem;
  }
  .InfoBlock::before {
    content: " ";
    -webkit-mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0%2C36v51.1l50.5-33.9L100%2C87V36L50.5%2C2.9L0%2C36z%22%2F%3E%0A%3C%2Fsvg%3E%0A")
      center / contain no-repeat;
    mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0%2C36v51.1l50.5-33.9L100%2C87V36L50.5%2C2.9L0%2C36z%22%2F%3E%0A%3C%2Fsvg%3E%0A")
      center / contain no-repeat;
    background-color: var(--theme-color-secondary);
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
    margin: -0.2em -0.5em;
    max-width: calc(0.5em + var(--grid-margin--right));
    margin-right: max(var(--grid-margin--right--neg), -0.5em);
    font-size: calc(3.816793893129771vw + 36.786259541984734px);
    overflow: hidden;
  }

  @media (min-width: 1368px) {
    .InfoBlock::before {
      font-size: 5.5625rem;
    }
  }

  .InfoBlock__title {
    font: var(--font-heading-m);
    margin-bottom: 1.25rem;
  }

  .InfoBlock__subtitle {
    font: var(--font-body-l);
  }

  @media (min-width: 760px) {
    .InfoBlock__subtitle {
      width: 39.735099337748345%;
      min-width: 350px;
    }
  }

  .InfoBlock__items {
    margin-top: calc(3.775% + 26.25px);
  }

  @media (min-width: 760px) {
    .InfoBlock__items {
      -moz-column-count: 2;
      column-count: 2;
      -moz-column-gap: 2.8125rem;
      column-gap: 2.8125rem;
    }
  }
  .InfoBlock__item {
    padding-left: 1.75rem;
    margin-bottom: 1rem;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }
  .InfoBlock__item::before {
    content: "";
    display: inline-block;
    background-color: var(--theme-color-primary--safeish);
    margin-right: 1rem;
    width: 0.75rem;
    height: 0.25rem;
    margin-left: -1.75rem;
  }

  .InfoBlock__extrainfo,
  .InfoBlock__attention {
    font: var(--font-body-l);
    position: relative;
    padding-left: 2.5rem;
    margin-top: calc(1.5267175572519083vw + 59.1145038167939px);

    border-top: var(--border-dark);
    padding-top: calc(2.2900763358778624vw + 32.671755725190835px);
  }

  .InfoBlock__extrainfo::before,
  .InfoBlock__attention::before {
    content: "";
    background-color: var(--theme-color-primary);
    width: 0.5rem;
    position: absolute;
    top: calc(2.2900763358778624vw + 32.671755725190835px);
    left: 0;
    bottom: 0;
  }

  @media (min-width: 1368px) {
    .InfoBlock__extrainfo,
    .InfoBlock__attention {
      margin-top: 80px;

      padding-top: 64px;
    }
    .InfoBlock__extrainfo::before,
    .InfoBlock__attention::before {
      top: 64px;
    }
  }

  .InfoBlock__extrainfo {
    padding-left: 0;
  }
  .InfoBlock__extrainfo::before {
    content: none;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .InfoBlock__extrainfo
    + .InfoBlock__attention,
  html:not([data-disable-css-warnings-with-abandon="true"])
    .InfoBlock__attention
    + .InfoBlock__extrainfo {
    --WARNING--message: "Choose *EITHER* `__extrainfo` *OR* `__attention`.";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .InfoBlock__extrainfo
    + .InfoBlock__attention::before,
  html:not([data-disable-css-warnings-with-abandon="true"])
    .InfoBlock__attention
    + .InfoBlock__extrainfo::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }
}
