/*!@deps Alert, Layout, FooterInfo, BreadCrumbs, MainMenu */

html:not([data-disable-css-warnings-with-abandon="true"]) .Layout {
  --WARNING--message: 'The CSS token "Layout--HomePage" is deprecated.';
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"]) .Layout::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

@media screen {
  .Layout--HomePage .RowBlock {
    margin-bottom: calc(14.00862068965517% + 30.775862068965523px);
  }

  /* ---------------------------------------------------------------------------*/

  .ScrollCTA {
    display: none;
    margin-top: calc(-5.387931034482758% - 14.913793103448285px);
    margin-bottom: calc(19.396551724137932% - 24.310344827586192px);
    /* TODO: Is font-size right value? Is '12' on prod.*/
    font-weight: var(--font-weight--bold);
    text-align: center;
  }

  @media (min-width: 760px) {
    .ScrollCTA {
      display: block;
    }
  }
  .ScrollCTA::after {
    content: "keyboard_arrow_down";
    content: "keyboard_arrow_down" / "";

    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--medium);
    -moz-osx-font-smoothing: grayscale;

    display: block;
    margin: 0 auto;
    width: 1em;
    color: var(--color-faxafloi-100);
  }

  /* ---------------------------------------------------------------------------*/

  .Layout--HomePage .GridBlocks {
    margin-bottom: calc(14.00862068965517% + 0.7758620689655231px);
  }

  /* ---------------------------------------------------------------------------*/

  .Layout--HomePage .ExtraLinks::before {
    border-left: 0;
  }

  .Layout--HomePage .ExtraLinks__card {
    border-color: transparent;
    background-color: var(--color-suld-0);
    --Card-lineColor: var(--color-faxafloi-100);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .Layout--HomePage .ExtraLinks__card::after {
    margin-top: 2rem;
    height: 0.25rem;
    max-width: 67%;
  }
  .ExtraLinks__card:hover,
  .ExtraLinks__card:active {
    border-color: transparent;
    background-color: var(--color-suld-0);
    color: inherit;
    outline: normal;
  }
  .ExtraLinks__card:hover > .ExtraLinks__card__title,
  .ExtraLinks__card:active > .ExtraLinks__card__title {
    color: var(--color-faxafloi-100);
  }
}
