@media screen {
  .Layout {
    min-height: 100vh;
    width: calc(100vw - 2 * var(--grid-margin));
    max-width: 75.5rem;
    margin: 0 auto;
    position: relative;
    left: calc(0.5 * var(--browser-scrollbar-width));
    display: flex;
    flex-flow: column;
  }

  .Layout__alerts {
    max-height: 1000px;
    overflow: hidden;
    margin: 0 -0.9375rem;
    transition: max-height 400ms ease-in;
  }

  @media (min-width: 760px) {
    .Layout__alerts {
      margin: 0;
    }
  }
  .Layout__alerts .Alert {
    margin: 1rem 0 0 0;
  }

  .Layout__content {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    padding-top: var(--Layout__header-height);
    position: relative;
  }

  .Layout__header {
    position: absolute;
    z-index: var(--zindex--header);
    top: 0;
    left: var(--grid-margin--neg);
    right: var(--grid-margin--right--neg);
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin--right);
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 1208px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--Layout__header-height);
    background-color: var(--Layout__header-backgroundColor);
    pointer-events: none;
    color: var(--Layout__header-color);

    --logo-fill-color: var(--Layout__header-logo-color);
    --logo-text-color: var(--Layout__header-color);
    --logo-background-color: var(--Layout__header-backgroundColor);
    --logo-transition: 200ms var(--logo-transition-delay, 100ms) ease-in;
    /* --logo-transition-delay: 0ms; */
    --link-focus-outline: var(--Layout__header-color);
  }

  /** @deprecated Back-compat  (Remove in Hanna 0.9) */
  a.Layout__header__logo {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;

    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
  }

  .Layout__header__homelink {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;

    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;

    margin: -0.5rem;
    padding: 0.5rem;
    padding-right: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-sizing: content-box;
    max-width: var(--Layout__header-homelink-width);
    min-width: 9.25rem;
  }
  @media (min-width: 980px) {
    .Layout__header__homelink {
      min-width: 12.75rem;
    }
  }
  .Layout__header__logo {
    order: -1;

    overflow: hidden;
    white-space: nowrap;

    display: block;
    width: 1.75rem; /* -notext Logo variant */
    height: 2.625rem;
  }

  @media (min-width: 980px) {
    .Layout__header__logo {
      width: 2.0625rem;
      height: 3.125rem;
    }
  }
  .Layout__header__logo:last-child {
    width: 8.9375rem;
  } /** Normal full-logo  */
  @media (min-width: 980px) {
    .Layout__header__logo:last-child {
      width: 10.75rem;
    }
  }

  .Layout__header__logo--custom {
    width: auto;
  }

  /** @deprecated Back-compat selector  (Remove in Hanna 0.9) */
  a.Layout__header__logo {
    box-sizing: content-box;
    width: 8.9375rem;
    margin: -0.5rem;
    padding: 0.5rem;
  }
  @media (min-width: 980px) {
    a.Layout__header__logo {
      width: 10.75rem;
    }
  }
  /** @deprecated Back-compat styles (Remove in Hanna 0.9) */
  a.Layout__header__logo > div {
    display: inline-block;
  }

  .Layout__header__logo > * > svg,
  .Layout__header__logo > * > img,
  .Layout__header__logo > svg,
  .Layout__header__logo > img {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 0% 50%;
    object-position: 0% 50%;
    margin-right: 0.625rem;
    margin-left: -1px;
  }

  .Layout__header__logo--custom > svg,
  .Layout__header__logo--custom > img {
    margin-left: 0;
    margin-right: 0;
  }

  .Layout__header__sitename {
    position: relative;
    flex-shrink: 1;
    font: var(--font-heading-xs);
    margin-left: 13px;
  }
  @media (min-width: 980px) {
    .Layout__header__sitename {
      font-size: 1.5rem;
      line-height: 1.2;
      margin-left: 24px;
      padding-left: 24px;
    }
    .Layout__header__sitename::before {
      content: "";
      position: absolute;
      top: 0;
      left: -1px;
      bottom: 0;
      width: 2px;
      height: 32px;
      background-color: var(--Layout__header-homelink-divColor);
      margin: auto 0;
    }
  }
  .Layout__header > * {
    pointer-events: auto;
  }

  .Layout__header__navlink {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  .Layout__header__navlink:focus-visible,
  .Layout__header__navlink:focus-within:not(:focus) {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;

    margin: 0;

    z-index: var(--zindex--sr-only);
    font-size: 1em;
    background: var(--color-suld-0);
    border: 3px double var(--color-faxafloi-100);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--color-faxafloi-100);
    text-shadow: none;
    white-space: nowrap;
  }

  .Layout__main {
    padding-top: var(--Layout__main-paddingTop);
    flex-grow: 1;
    padding-bottom: var(--space-4);
    min-height: 60vh;
  }

  .Layout__nav {
  }

  .Layout__footer {
    position: relative;
    border-top: 1px solid var(--color-suld-75);
    padding-bottom: 2rem;
  }
}

/* ===========================================================================*/
/*  Mobile / Hamburger*/

@media (max-width: 979px) {
  .Layout__header {
    box-shadow: 0 0 0.33em 0.33em var(--Layout__header-backgroundColor);

    transition: all 200ms ease-in;
    transition-property: background-color, box-shadow;
  }
}

/* ===========================================================================*/
/* Deprecated  (Will be removed in v0.9) */ /**/
/* ===========================================================================*/

/* Mobile / Hamburger*/
@media (max-width: 979px) {
  /** @deprecated  (Will be removed in v0.9) */
  .Layout__header__skiplink[class] {
    overflow: hidden;
    white-space: nowrap;

    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;

    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;

    position: relative;
    color: var(--color-faxafloi-100);
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin-right: -0.5rem;
    transition-duration: 200ms;
    --open-icon-color: _inherit;
    --close-icon-color: transparent;
  }
  .menu-is-open .Layout__header__skiplink {
    color: var(--color-suld-0);
    --open-icon-color: transparent;
    --close-icon-color: _inherit;
    /* margin-right: var(--browser-scrollbar-width);*/
  }
  .Layout__header__skiplink:hover,
  .Layout__header__skiplink:active {
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }

  .Layout__header__skiplink::before,
  .Layout__header__skiplink::after {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--large);
    -moz-osx-font-smoothing: grayscale;

    width: 100%;
    margin-right: 1px;
    transition: inherit;
  }

  .Layout__header__skiplink::before {
    content: "menu";
    content: "menu" / "";

    color: var(--open-icon-color);
  }
  .Layout__header__skiplink::after {
    content: "close";
    content: "close" / "";

    position: absolute;
    top: 0;
    left: 0;
    color: var(--close-icon-color);
  }

  /** @deprecated  (Will be removed in v0.9) */
  .Layout__nav__closebutton {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  .Layout__nav__closebutton:focus-visible,
  .Layout__nav__closebutton:focus-within:not(:focus) {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;

    margin: 0;

    z-index: var(--zindex--sr-only);
    font-size: 1em;
    background: var(--color-suld-0);
    border: 3px double var(--color-faxafloi-100);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--color-faxafloi-100);
    text-shadow: none;
    white-space: nowrap;
  }
}

/* Desktop / Topmenu */
@media (min-width: 980px) {
  /** @deprecated  (Will be removed in v0.9) */
  .Layout__header__skiplink {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  .Layout__header__skiplink:focus-visible,
  .Layout__header__skiplink:focus-within:not(:focus) {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;

    margin: 0;

    z-index: var(--zindex--sr-only);
    font-size: 1em;
    background: var(--color-suld-0);
    border: 3px double var(--color-faxafloi-100);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--color-faxafloi-100);
    text-shadow: none;
    white-space: nowrap;
  }
}

/* ===========================================================================*/
/* Grid helper*/
/* ===========================================================================*/

html[data-grid-overlay] body:hover {
  --show-grid-lines: "";
}
html[data-grid-overlay] .Layout:hover {
  /**/ /**/
  --show-grid-lines: initial;
  /**/
}
html[data-grid-overlay] .Layout::after {
  content: var(--show-grid-lines, none);
  pointer-events: none;
  position: absolute;
  z-index: calc(var(--zindex--modal) + 100);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.04) 0,
    rgba(0, 0, 0, 0.04) 61.53846153846154%,
    rgba(255, 255, 255, 0.06) 61.53846153846154%,
    rgba(255, 255, 255, 0.06) 100%
  );
  background-size: 8.609271523178808% 100%;
}
