/*!@deps MobileMenuToggler */

@keyframes MainMenu__mega__item--fadeup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen {
  .MainMenu {
  }
  .MainMenu__title {
    display: none; /* ok if aria-label/aria-labelled by is used!*/
  }
  .MainMenu__item--home[class] {
    position: absolute;
    right: 9999px;
    left: auto;
  }

  .MainMenu__item--home[class] a:focus,
  .MainMenu__item--home[class] a:active,
  .MainMenu__item--home[class] button:focus {
    right: -9999px;

    z-index: var(--zindex--sr-only);
    font-size: 1em;
    background: var(--color-suld-0);
    border: 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }

  .MainMenu__item > :not(.MainMenu__link) {
    margin: 0;
    /*
        Without this elements with "width: max-content;"
        AND, it seems, complex (calc-based) padding or min-wdith
        will cause Firefox (as of 117 at least) to expand the width of the
        outer .MainMenu__item container.  Chrome does not do this.
        Remove this once Firefox has got its act together
      */
    width: auto;
  }
  .MainMenu__link {
    text-decoration: none;
    color: var(--link-color);
    font-weight: var(--link-weight);
    padding-bottom: var(--link-underline-offset);
    border-bottom: var(--link-underline);
    transition: var(--link-transition);
    transition-property: border-color, background-color, color, text-shadow,
      box-shadow, outline;
  }

  .MainMenu__link:hover,
  .MainMenu__link:active {
    color: var(--link-color--hover);
    border-bottom: var(--link-underline--hover);
  }

  .MainMenu__link {
    display: block;
    width: -moz-max-content;
    width: max-content;
    font-weight: var(--font-weight--bold);
  }

  .MainMenu__link::before {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;

    font-family: icons, Esja, Helvetica, Arial, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;

    margin-right: 0.5rem;
    vertical-align: -0.1875rem;
  }
  .MainMenu__item--mypages > .MainMenu__link::before {
    content: var(--icon--user);
  }
  .MainMenu__item--search > .MainMenu__link::before {
    content: var(--icon--search);
  }
}

/* ===========================================================================*/
/**/
/* Mobile menu*/
/**/
/* ===========================================================================*/

@media (max-width: 979px) {
  .before-sprinkling .MainMenu:not([data-sprinkled]) {
    display: none;
  }
  .MainMenu {
    --MainMenu--offsetLeft: var(--space-4);
    --MainMenu--list--padTop: var(--space-2);

    position: relative;
    display: flex;
    flex-flow: column;

    background-color: var(--MainMenu-background);
    /*
        @media screen and (max-height: 640px) {
          $ {HamburgerVariables.override({
            list__padTop: vars.space_2,
          })}
        }
      */
  }

  @media screen and (max-width: 370px) {
    .MainMenu {
      --MainMenu--offsetLeft: var(--space-2);
    }
  }

  .MainMenu[data-sprinkled] {
    display: none;
  }
  .menu-is-active .MainMenu {
    display: flex;
    position: fixed;
    /* Technically redundant but makes the component more resilient to extraneous div wrappers */
    z-index: calc(var(--zindex--header) - 1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin--right);
    padding-top: var(--Layout__header-height);
    overflow-x: hidden;
    overflow-y: scroll;

    transition: margin-top 400ms 0ms ease-in-out, opacity 400ms 0ms,
      visibility 0ms 400ms;
  }

  .menu-is-active:not(.menu-is-open) .MainMenu, /* @deprecated ('menuIsOpen' is always set now) Remove this selector in v0.9*/
	  .menu-is-closed .MainMenu {
    visibility: hidden;
    opacity: 0;
    margin-top: -100vh;
  }
  .menu-is-open {
    --Layout__header-logo-color: var(--color-suld-0);
    --Layout__header-homelink-divColor: var(--color-faxafloi-75);
    --Layout__header-color: var(--color-suld-0);
    --Layout__header-backgroundColor: var(--color-faxafloi-100);
  }
  .menu-is-open .MainMenu {
    transition-delay: 0ms;

    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }

  .MainMenu__items {
    color: var(--color-suld-0);
    --link-color: _inherit;
    --link-color--hover: var(--color-faxafloi-25);

    display: flex;
    flex-flow: row wrap;
    padding-top: var(--MainMenu--list--padTop);
    padding-bottom: 1.5rem;

    margin-left: var(--grid-margin--neg);
    margin-right: var(--grid-margin--right--neg);
    padding-left: calc(var(--grid-margin) + var(--MainMenu--offsetLeft));
    padding-right: var(--grid-margin--right);
  }

  .MainMenu__item {
    font: var(--font-bd-l);
    width: 100%;
    margin-bottom: 1rem;
  }
  .MainMenu__link {
    margin-bottom: calc(-1 * var(--link-underline--thickness));
  }
  .MainMenu__link[aria-pressed="true"] {
    border-color: var(--color-suld-0);
  }

  .MainMenu__separator[class] {
    width: 100%; /* because of flex*/
    height: 1rem;
  }

  .MainMenu__separator ~ .MainMenu__item {
    font: var(--font-bd-s);
  }

  .MainMenu__item--lang {
    width: auto;
    padding-right: 1rem;
  }
  .MainMenu__item--lang + .MainMenu__item--lang {
    padding-left: 1rem;
  }
  .MainMenu__item--lang + .MainMenu__item--lang::before {
    content: "|";
    float: left;
    color: var(--color-faxafloi-75);
    margin-left: calc(-1rem - 0.2em);
  }

  .MainMenu__panels,
  .MainMenu__panelsWrap {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    position: relative;
  }

  [aria-current="true"] .MainMenu__mega__link::before {
    content: "";
    float: left;
    margin-left: -1.5rem;
    width: 0.5rem;
    height: 0.125rem;
    margin-top: 0.6875rem;
    background-color: currentColor;
  }

  .MainMenu__megapanel__backtomenu {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  .MainMenu__megapanel__backtomenu[data-focus-visible-added] {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;

    margin: 0;

    z-index: var(--zindex--sr-only);
    font-size: 1em;
    background: var(--color-suld-0);
    border: 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }
  .MainMenu__megapanel__backtomenu:focus-visible {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;

    margin: 0;

    z-index: var(--zindex--sr-only);
    font-size: 1em;
    background: var(--color-suld-0);
    border: 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }

  .MainMenu__megapanel__backtomenu:focus-within:not(:focus) {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;

    margin: 0;

    z-index: var(--zindex--sr-only);
    font-size: 1em;
    background: var(--color-suld-0);
    border: 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }
}

/* ===========================================================================*/
/**/
/* Desktop (Top) Menu*/
/**/
/* ===========================================================================*/

@media (min-width: 980px) {
  html[data-mega-panel-active] {
    --Layout__header-logo-color: var(--color-suld-0);
    --Layout__header-homelink-divColor: var(--color-faxafloi-75);
    --Layout__header-color: var(--color-suld-0);
  }

  .MainMenu {
  }

  .MainMenu__items {
    --link-color: _inherit;
    --link-color--hover: var(--MainMenu-accentcolor);

    position: absolute;
    z-index: var(--zindex--header);
    top: 0;
    right: 0;
    left: var(--Layout__header-homelink-space);
    height: var(--Layout__header-height);
    padding-bottom: calc(
      var(--link-underline--thickness) + var(--link-underline-offset)
    );
    margin-right: calc(-3.0927835051546393vw + 22.309278350515463px);
    margin-left: calc(-1.5463917525773196vw - 158.84536082474227px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @media (min-width: 1368px) {
    .MainMenu__items {
      margin-right: -20px;
      margin-left: -20px;
    }
  }

  .MainMenu__item {
    --MainMenu--item-padding: calc(1.5463917525773196vw - 11.154639175257731px);

    color: var(--color-suld-200);
    white-space: nowrap;
    margin: 0 calc(1.5463917525773196vw - 11.154639175257731px);
  }

  @media (min-width: 1368px) {
    .MainMenu__item {
      margin-right: 10px;
      margin-left: 10px;
      --MainMenu--item-padding: 10px;
    }
  }

  .MainMenu__item[aria-current="true"] {
    color: var(--color-faxafloi-100);
  }
  html[data-mega-panel-active] .MainMenu__item[aria-current="true"] {
    color: var(--color-suld-0);
  }

  .MainMenu__separator[class] {
    margin-left: auto;
  }

  .MainMenu__item:not(.MainMenu__separator ~ *) {
    --MainMenu--item-padding: 0.625rem;
  }
  html[data-mega-panel-active] .MainMenu__item:not(.MainMenu__separator ~ *) {
    --link-color--hover: var(--color-suld-0);

    color: rgba(248, 248, 249, 0.7);
  }

  html[data-mega-panel-active]
    .MainMenu__item:not(.MainMenu__separator ~ *)
    > .ButtonPrimary {
    --Button--color: var(--color-suld-0);
    --Button--color--active: var(--color-faxafloi-25);
    --Button--textColor: var(--color-faxafloi-100);
    --Button--textColor--active: var(--color-faxafloi-150);
  }
  html[data-mega-panel-active]
    .MainMenu__item:not(.MainMenu__separator ~ *)
    > .ButtonSecondary {
    --Button--color: var(--color-suld-0);
    --Button--color--active: var(--color-faxafloi-25);
    --Button--backgroundColor: var(--color-faxafloi-100);
    --Button--backgroundColor--active: var(--color-faxafloi-150);
    --Button--textColor: var(--color-suld-0);
    --Button--textColor--active: var(--color-faxafloi-25);
  }

  .MainMenu__link {
    padding: 0.625rem var(--MainMenu--item-padding);
    padding-bottom: 0;
    margin-top: calc(
      var(--link-underline--thickness) + var(--link-underline-offset)
    );
    margin-bottom: 0.625rem;
  }
  .MainMenu__link[aria-pressed="true"] {
    color: var(--color-suld-0);
  }

  .MainMenu__item--lang {
    margin-right: 0.5rem;
  }
  .MainMenu__item--lang > .MainMenu__link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: inline-block;
  }
  .MainMenu__item--lang + .MainMenu__item--lang {
    margin-left: -0.5rem;
  }
  .MainMenu__item--lang + .MainMenu__item--lang::before {
    content: "|";
    display: inline-block;
    color: var(--color-suld-200);
  }

  /* ===========================================================================*/
  /**/
  /* Mega Menu*/
  /**/
  /* ===========================================================================*/

  html[data-mega-panel-active] {
    overflow-y: hidden;
  }
  html[data-mega-panel-active] > body {
    padding-right: var(--grid-margin);
  }

  html[data-mega-panel-active] .Layout__alerts {
    max-height: 0;

    transition-duration: 0ms;
  }

  .before-sprinkling *:not([data-sprinkled]) > .MainMenu__panelsWrap {
    display: none;
  }

  .MainMenu__panelsWrap {
    background-color: var(--color-faxafloi-100);

    margin-left: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    margin-right: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
    position: relative;
  }
  .MainMenu__panelsWrap:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(
      50% + 0.5 * (var(--grid-gutter) + var(--browser-scrollbar-width))
    );
    margin-left: var(--grid-2-2);
    right: 0;
    background-color: var(--color-suld-25);
  }

  @media (min-width: 980px) and (max-width: 1367px) {
    .MainMenu__panelsWrap:before {
      margin-left: var(--grid-2);
    }
  }

  [data-sprinkled] > .MainMenu__panelsWrap {
    opacity: 0;
    visibility: hidden;

    transition: all 250ms ease-in-out;
    transition-property: opacity, visibility;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: calc(var(--zindex--header) - 1);

    overflow-x: hidden;
    overflow-y: scroll;
  }
  [data-sprinkled] > .MainMenu__panelsWrap--active {
    opacity: 1;
    visibility: visible;
  }

  [data-sprinkled] > .MainMenu__panelsWrap:before {
    position: fixed;
  }

  .MainMenu__panels {
    position: relative;
    width: 100%;

    display: grid;
    -moz-column-gap: var(--grid-gutter);
    column-gap: var(--grid-gutter);
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  /* -------------------------------------*/

  .MainMenu__megapanel__backtomenu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 8.5625rem;
    height: 9.0625rem;

    color: var(--color-suld-200);

    padding-top: 4.0625rem;
    padding-left: 2rem;
    padding-bottom: 2.0625rem;
    --link-focus-outlineColor: var(--color-suld-0);
  }
  .MainMenu__megapanel__backtomenu:hover::after,
  .MainMenu__megapanel__backtomenu:active::after {
    opacity: 1;
    transform: scale(1.2);
  }

  .MainMenu__megapanel__backtomenu::before {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;

    font-family: icons, Esja, Helvetica, Arial, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    content: var(--icon--close);

    font-size: 1rem;
    width: 100%;
    text-align: left;
    margin-left: 8px;
  }

  .MainMenu__megapanel__backtomenu::after {
    content: "";
    transition: all 200ms ease-in-out;
    width: 269px;
    height: 269px;
    border-radius: 50%;
    background-color: var(--color-suld-0);
    position: absolute;
    top: 0;
    left: -132px;
    z-index: -1;
  }
}

/* ===========================================================================*/
/**/
/* Markup Warnings*/
/**/
/* ===========================================================================*/

html:not([data-disable-css-warnings-with-abandon="true"]) .MainMenu:not(nav) {
  --WARNING--message: "Please use <nav/>";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  .MainMenu:not(nav)::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .MainMenu:not([aria-label]):not([aria-labelledby]) {
  --WARNING--message: "Please add `aria-label` or `aria-labelledby`";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .MainMenu:not([aria-label]):not([aria-labelledby])::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .MainMenu[aria-labelledby]
  > .MainMenu__title:not([id]) {
  --WARNING--message: "Please add `id` attribute";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .MainMenu[aria-labelledby]
  > .MainMenu__title:not([id])::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .MainMenu__separator:not(.MainMenu__items > *) {
  --WARNING--message: "Separators must be child of ul.MainMenu__items";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .MainMenu__separator:not(.MainMenu__items > *)::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .MainMenu__list:first-child {
  --WARNING--message: "`.MainMenu__title` missing";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .MainMenu__list:first-child::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .MainMenu__item:first-child:not(.MainMenu__item--home) {
  --WARNING--message: "Home link missing";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .MainMenu__item:first-child:not(.MainMenu__item--home)::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"]) .MainMenu2 {
  --WARNING--message: "`MainMenu2` can not be used when `MainMenu.css` is loaded";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"]) .MainMenu2::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

/* ===========================================================================*/
/* Inline in order to not expose as standalone component styles*/

.PrimaryPanel {
  color: var(--color-suld-0);
  --link-color: _inherit;
  --link-color--hover: var(--color-suld-25);

  background-color: var(--MainMenu-background);
}
.PrimaryPanel__title {
  font-weight: var(--font-weight--bold);
  border-bottom: 1px solid var(--color-suld-75);

  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.MainMenu[data-sprinkled] .PrimaryPanel:not(.PrimaryPanel--active) {
  display: none;
}

.PrimaryPanel__item > :not(.PrimaryPanel__link) {
  margin: 0;
}

/* ===========================================================================*/

@media (max-width: 979px) {
  .PrimaryPanel {
    padding-bottom: 1.5rem;
    padding-left: var(--MainMenu--offsetLeft);
    padding-right: var(--MainMenu--offsetLeft);
  }

  .PrimaryPanel__title {
    font: var(--font-sh-s);
  }

  /* .MainMenu[data-sprinkled] .PrimaryPanel__title {*/
  /*   $ {sr_only}*/
  /* }*/

  .PrimaryPanel__item {
    margin-bottom: 1rem;
  }
  .PrimaryPanel__summary {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  :not(.MainMenu__panelsWrap--active) > * > .PrimaryPanel--active {
    opacity: 0;

    transition: all 500ms ease-in-out;
  }
}

/* ===========================================================================*/

@media (min-width: 980px) {
  .PrimaryPanel {
    display: grid;
    align-content: flex-start;
    grid-template-columns: repeat(8, minmax(0, 1fr));

    padding-top: var(--Layout__header-height);
    padding-bottom: 7.8125rem; /* clear .MainMenu__megapanel__backtomenu*/
    grid-column: 2 / span 7;
    -moz-column-gap: var(--grid-gutter);
    column-gap: var(--grid-gutter);
  }
  .PrimaryPanel--active {
  }

  .PrimaryPanel--twocol {
    grid-column: span 8;
  }

  .PrimaryPanel__title {
    margin-right: var(--grid-column);
    grid-column: span 5;
  }
  .PrimaryPanel--twocol .PrimaryPanel__title {
    grid-column: span 8;
  }

  .PrimaryPanel__items {
    grid-column: span 4;
  }
  .PrimaryPanel--twocol .PrimaryPanel__items {
    grid-column: span 8;
    display: grid;
    -moz-column-gap: var(--grid-gutter);
    column-gap: var(--grid-gutter);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .PrimaryPanel__item {
    margin-bottom: 1.5rem;
  }
  .PrimaryPanel--twocol .PrimaryPanel__item {
    padding-right: var(--grid-column);
  }

  .PrimaryPanel__linkTitle {
    font: var(--font-bd-l);
  }

  .PrimaryPanel__summary {
    display: block;
    font-size: inherit; /* override default <small> styling*/
    font-weight: var(--font-weight--normal);
  }
}

@media screen {
  .AuxiliaryPanel {
    color: var(--MainMenu-accentcolor);
    --link-color: _inherit;
    --link-color--hover: var(--MainMenu-accentcolor);
    --link-weight: var(--font-weight--normal);
  }

  .AuxiliaryPanel__title {
    font-weight: var(--font-weight--bold);

    border-bottom: 1px solid var(--color-suld-100);
    margin-right: 17.02127659574468%;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
  }
}

.AuxiliaryPanel__item > :not(.AuxiliaryPanel__link) {
  margin: 0;
}

/* ===========================================================================*/

/* ===========================================================================*/

@media (max-width: 979px) {
  .AuxiliaryPanel {
    position: relative;
    background-color: var(--color-suld-25);
    padding-top: var(--space-4);
    padding-bottom: 38.46153846153847%;
    flex-grow: 1;

    margin-left: var(--grid-margin--neg);
    margin-right: var(--grid-margin--right--neg);
    padding-left: calc(var(--grid-margin) + var(--MainMenu--offsetLeft));
    padding-right: calc(
      var(--grid-margin--right) + var(--MainMenu--offsetLeft)
    );
  }

  .AuxiliaryPanel__title {
    font: var(--font-sh-s);
    padding-bottom: var(--space-1);
    margin-bottom: var(--space-2);
    margin-right: 0;

    max-width: 38.35616438356164%;
    min-width: 8.75rem;
  }

  .AuxiliaryPanel__items {
    margin-bottom: var(--space-4);
  }
  .AuxiliaryPanel__item {
    margin-bottom: var(--space-1_5);
  }

  .AuxiliaryPanel::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background: 50% 100% / contain repeat-x;
    background-image: url("/assets/valmundur-a-sundi.png");
    mix-blend-mode: multiply;
    padding-top: 35.38461538461539%;
  }

  .menu-is-open .AuxiliaryPanel::after {
    transition: visibility 0s linear, opacity 600ms 200ms;
  }
  .menu-is-closed .AuxiliaryPanel::after {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 300ms linear, opacity 300ms;
  }
}

/* ===========================================================================*/

/* ===========================================================================*/

@media (min-width: 980px) {
  .AuxiliaryPanel {
    grid-column: span 4;

    padding-top: var(--Layout__header-height);
    padding-left: var(--grid-1-1);
  }

  .AuxiliaryPanel::after {
    content: "";

    background: 50% 0 / auto 305px no-repeat;
    background-image: var(--menu-auxiliary-image);

    margin: 2.5rem 0;
    display: block;
    height: 305px;
  }

  .AuxiliaryPanel__items {
    margin-right: 17.02127659574468%;
  }
  .AuxiliaryPanel__item {
    margin-bottom: 0.5rem;
  }
}
