@media screen {
  .MiniMetrics {
    position: relative;
    margin-top: calc(19.396551724137932% + 5.689655172413808px);
    margin-bottom: calc(24.78448275862069% - 9.396551724137964px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 272px;
  }

  .MiniMetrics__text {
    font: var(--font-heading-xl);
    display: block;
    margin-bottom: 0.625em;
    max-width: 896px;
  }
  .MiniMetrics__more {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;

    /* NOTE: This intentionally doesn't reset the :hover style*/
    /* unless..*/
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;

    color: var(--ButtonTertiary--color);
    position: relative;
    display: inline-block;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    vertical-align: middle;
    font: var(--font-button);
    padding: 2px 0;
    --dashWidth: var(--ButtonTertiary--dashWidth);
    padding-left: calc(var(--ButtonTertiary--dashSpace) + var(--dashWidth));
    padding-right: calc(
      var(--ButtonTertiary--hover--dashWidth) - var(--dashWidth)
    );
    margin-right: var(--ButtonTertiary--gapH);
    margin-bottom: var(--space-1);
    transition: all 100ms ease-in;
    /* --ButtonTertiary--hover--dashWidth: 3rem;*/
  }

  .MiniMetrics__more::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: var(--dashWidth);
    height: var(--ButtonTertiary--dashHeight);
    display: inline-block;
    vertical-align: middle;
    background-color: currentColor;
    color: var(--ButtonTertiary--dashColor);
    transform: translateY(-50%);
    transition: inherit;
  }

  .MiniMetrics__more:active,
  .MiniMetrics__more:hover {
    --dashWidth: var(--ButtonTertiary--hover--dashWidth);
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .MiniMetrics__more:focus-visible {
    --dashWidth: var(--ButtonTertiary--hover--dashWidth);
    color: var(--ButtonTertiary--color);
    outline: 0;
  }

  .MiniMetrics__more:active::before {
    width: var(--ButtonTertiary--dashWidth);
  }

  .MiniMetrics__more:focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }

  .MiniMetrics__more {
    font: var(--font-heading-s);
    --ButtonTertiary--dashWidth: 1rem;
    --ButtonTertiary--dashHeight: 0.16666666666666666rem;
  }
  .MiniMetrics__more::before {
    top: calc(0.5 * var(--font-heading-s-leading));
  }

  @media (min-width: 480px) {
    @supports ((-webkit-mask-image: url("")) or (mask-image: url(""))) {
      .MiniMetrics::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 50%;
        margin-bottom: 10.347682119205299%;
        right: 0;
        width: 10.513245033112582%;
        padding-top: 10.513245033112582%;
        /* background-color: var(--theme-color-secondary);*/
        background-color: var(--color-rokkur-100);
        -webkit-mask-image: url("/assets/bling/circle-small.svg");
        mask-image: url("/assets/bling/circle-small.svg");
        -webkit-mask-position: 50% 50%;
        mask-position: 50% 50%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
      }
      .MiniMetrics::after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 50%;
        left: 50%;
        margin-bottom: -7.864238410596027%;
        width: 68.29470198675497%;
        padding-top: 19.205298013245034%;
        /* background-color: var(--theme-color-tertiary);*/
        background-color: var(--color-esja-100);
        -webkit-mask-image: url("/assets/bling/waves-medium.svg");
        mask-image: url("/assets/bling/waves-medium.svg");
        -webkit-mask-size: 133.33% auto;
        mask-size: 133.33% auto;
        -webkit-mask-position: 0% 50%;
        mask-position: 0% 50%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
      }
    }
  }
  @media (min-width: 480px) and (max-width: 759px) {
    .MiniMetrics::before {
      content: none;
    }
    .MiniMetrics::after {
      left: 360px;
      width: 440px;
      padding-top: 125px;
    }
  }
}
