/*!@deps
    TextInput
    SearchInput
    Datepicker
    Selectbox
    ButtonPrimary
    ButtonSecondary
    ButtonTertiary
    Footnote
  */

@media screen {
  .PageFilter {
    background-color: var(--color-suld-25);
    padding: calc(5.387931034482758% + 14.913793103448285px) 0 0 0;
    margin-bottom: calc(6.896551724137931% + 44.689655172413794px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }

  .PageFilter::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;

    left: var(--grid-margin--neg);

    right: var(--grid-margin--neg);

    z-index: -1;
    background: inherit;
  }

  .PageFilter::before {
    border-left: calc(1.5267175572519083vw + 3.1145038167938957px) solid
      var(--theme-color-primary);
    margin-bottom: calc(-3.4482758620689653% - 22.344827586206897px);
    pointer-events: none;
  }

  @media (min-width: 1368px) {
    .PageFilter::before {
      border-width: 1.5rem;
    }
  }
  @media (min-width: 760px) {
    .PageFilter--underlap {
      margin-bottom: 0;
    }
  }

  .PageFilter__title {
    font: var(--font-hd-s);
    margin-bottom: 0.3125em;
    width: 100%;
  }

  .PageFilter__summary {
    width: 100%;
  }

  .PageFilter__filters {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: 1.25rem;
    margin-bottom: calc(2.586206896551724% - 7.241379310344826px);
    width: 100%;
    max-width: 936px;
  }

  .PageFilter__filters > .FormField {
    margin-right: var(--grid-gutter);
    margin-bottom: 1.5rem;

    min-width: 24.786324786324787%;
  }

  @media (max-width: 479px) {
    .PageFilter__filters > .FormField {
      width: 100%;
    }
  }

  .PageFilter__buttons {
    margin-top: 1.25rem;
    margin-bottom: calc(2.586206896551724% - 7.241379310344826px);
  }

  .PageFilter__buttons > .ButtonTertiary:last-child,
  .PageFilter__buttons > .ButtonPrimary:last-child {
    margin-right: 0;

    width: auto;
  }

  .PageFilter > .Footnote {
    margin-top: calc(3.2327586206896552% + 20.94827586206896px);
    margin-bottom: 0;
  }

  .PageFilter > .Footnote::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid currentColor;
    margin-top: calc(-3.0172413793103448% - 3.551724137931032px);
  }
}
