.Pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: var(--space-1);
  column-gap: var(--space-1);
  row-gap: var(--space-1);

  font-weight: var(--font-weight--bold);
  text-align: center;
  margin: var(--space-2) 0;
}

@media (max-width: 479px) {
  .Pagination {
    -moz-column-gap: var(--space-0_5);
    column-gap: var(--space-0_5);
    margin-left: var(--space-1_5--neg);
    margin-right: var(--grid-margin--right--neg);
  }
}
.Pagination__button {
  --link-color: _inherit;
  --link-weight: _inherit;
  --link-underline: none;

  --link-underline--hover: none;
  --link-underline-offset: 0;

  --link-focus-outlineColor: var(--link-color--hover);

  min-width: var(--space-4);
  padding: 0 var(--space-0_5);
  height: var(--space-4);
  line-height: var(--space-4);
  border-radius: 0.1875rem;
  transition: all var(--link-transition);
}

@media (max-width: 479px) {
  /* hide the last __button before a second __ellipsis*/
  .Pagination__button:nth-last-child(3):nth-last-of-type(2),
    /* and the first __button after the first __ellipsis*/
    .Pagination__ellipsis + .Pagination__button:not(:last-child) {
    display: none;
  }
}

.Pagination__button:disabled {
  opacity: 0.25;
  pointer-events: none;
}

.Pagination__button:hover,
.Pagination__button:active {
  background-color: var(--color-suld-50);
}

.Pagination__button--active[class] {
  background-color: var(--color-faxafloi-100);
  color: var(--color-white);
}

.Pagination__ellipsis {
  margin: 0 var(--space-0_5--neg);
  width: var(--space-2);
  font-size: var(--font-label-size);
  line-height: 1em;
  position: relative;
  top: -0.25em;
  color: var(--color-suld-100);
}

.Pagination__button--next,
.Pagination__button--prev {
  overflow: hidden;
  white-space: nowrap;

  width: 1px;
  padding: 0;
}
.Pagination__button--next {
  order: 1;
}
.Pagination__button--next::before,
.Pagination__button--prev::before {
  content: "chevron_backward";
  content: "chevron_backward" / "";

  display: inline-block;
  text-indent: 0;
  text-align: center;
  width: 1em;
  vertical-align: top;
  font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  letter-spacing: normal;
  font-size: var(--icon-size--medium);
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin-right: 1px;
}
.Pagination__button--next::before {
  content: "chevron_forward";
  content: "chevron_forward" / "";
}
