.Picture {
  display: block;
  position: relative;
  margin-bottom: var(--space-3);
  width: 100%;
  height: 100%;
}
.Picture > svg, /* inlined */
  .Picture > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Picture--inlined > img {
  -o-object-fit: cover;
  object-fit: cover;
}
.Picture--contain > img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: initial;
  object-position: initial;
}
