@media screen {
  .RelatedLinks {
    margin-bottom: var(--baseVerticalMargin);
  }
  .RelatedLinks__title {
    font-size: var(--font-body-l-size);
    line-height: var(--font-body-l-leading);
    font-weight: var(--font-weight--bold);
    color: var(--color-suld-150);
    margin-bottom: 0.5rem;
  }
  .RelatedLinks__list {
    display: flex;
    flex-flow: row wrap;
    margin-right: calc(var(--grid-gutter--neg) - 1px);
  }
  .RelatedLinks__item {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: var(--grid-gutter);
    width: var(--grid-12);
    min-width: 250px;
  }

  @media (min-width: 480px) and (max-width: 979px) {
    .RelatedLinks__item {
      width: var(--grid-6);
    }
  }
  @media (min-width: 980px) {
    .RelatedLinks__item {
      width: var(--grid-4);
    }
  }
  .RelatedLinks__link {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;

    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;

    --link-color: var(--color-faxafloi-100);

    position: relative;
    display: block;
    background-color: var(--color-suld-25);
    text-decoration: none;
    padding: 1rem 1.5rem;
    padding-left: 3.5rem;
    outline: 1px solid transparent;
  }
  .RelatedLinks__link:hover {
    outline: 1px solid currentColor;
  }
  .RelatedLinks__link::before {
    content: "link";
    content: "link" / "";

    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--medium);
    -moz-osx-font-smoothing: grayscale;

    position: absolute;
    left: 1rem;
  }

  .RelatedLinks__link[target]::before {
    content: "open_in_new";
    content: "open_in_new" / "";
  }
  /* exclude taget="_self" without increasing selector specificity*/
  .RelatedLinks__link:not([target="_self"])::before {
    content: "link";
    content: "link" / "";
  }

  .RelatedLinks__link[href$=".pdf"]::before,
  .RelatedLinks__link[href*=".pdf?"]::before,
  .RelatedLinks__link[data-type="pdf"]::before {
    content: "picture_as_pdf";
    content: "picture_as_pdf" / "";
  }
  .RelatedLinks__link[data-type="document"]::before {
    content: "docs";
    content: "docs" / "";
  }
  .RelatedLinks__link[data-type="external"]::before {
    content: "open_in_new";
    content: "open_in_new" / "";
  }
}
