@media screen {
  .ShareButtons__list {
    display: flex;
    font-size: 0.9375rem;
  }

  .ShareButtons__label {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  .ShareButtons__link {
    overflow: hidden;
    white-space: nowrap;

    text-indent: 150%;
    text-align: left;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--theme-color-primary);
    color: var(--theme-color-primary--text);
    position: relative;
    display: inline-block;
  }
  .ShareButtons__link:hover,
  .ShareButtons__link:active {
    background-color: var(--theme-color-primary--dark);
    color: var(--color-suld-0);
  }

  .ShareButtons__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    text-indent: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 1em;
    line-height: 1.1;
    margin-top: -0.5em;
  }

  .ShareButtons__item {
    margin-left: 1rem;
  }
  .ShareButtons__item:first-child {
    margin-left: 0;
  }

  .ShareButtons__link--facebook::before,
  .ShareButtons__link--twitter::before {
    -webkit-mask: url("i/icons/facebook.svg") 50% 50% / 1em auto no-repeat;
    mask: url("i/icons/facebook.svg") 50% 50% / 1em auto no-repeat;
    background-color: currentColor;
  }
  .ShareButtons__link--twitter::before {
    -webkit-mask-image: url("i/icons/twitter.svg");
    mask-image: url("i/icons/twitter.svg");
  }
  .ShareButtons__link--linkedin::before {
    font-size: 20px;
    content: "in";
  }
  .ShareButtons__link--email::before {
    font-size: 20px;
    content: "@";
    margin-top: -0.6em;
  }
}
