/*!@deps FormField */

@media screen {
  .SiteSearchInput {
    margin-bottom: 3.5rem;
    /* Changes as evident in the "Frontpage" Figma document*/
    /* $ {FormFieldVariables.override({*/
    /*   input__border_color: vars.color_suld_75,*/
    /*   input__border_radius: 0,*/
    /* })}*/
    --ssi-height: clamp(
      64px,
      calc(3.0534351145038165vw + 54.22900763358779px),
      96px
    );
  }
  .SiteSearchInput > .FormField__label {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;

    margin: -1px;
  }

  .SiteSearchInput > .FormField__input {
    padding: 0;
    height: auto;
  }
  .SiteSearchInput > .FormField__input > input {
    padding: clamp(10px, calc(1.5267175572519083vw + 5.114503816793896px), 26px)
      2px;
    padding-left: clamp(
      16px,
      calc(1.5267175572519083vw + 11.114503816793896px),
      32px
    );
    border-right: var(--ssi-height) solid transparent;
  }

  /* .SiteSearchInput__input {*/
  /* }*/

  .SiteSearchInput__button {
    z-index: 1;
    background-color: var(--color-faxafloi-100);
    color: var(--color-suld-0);
  }

  .SiteSearchInput__button:active,
  .SiteSearchInput__button:hover {
    background-color: var(--color-faxafloi-150);
    color: var(--color-suld-0);
  }
  .SiteSearchInput__button:focus-visible {
    background-color: var(--color-faxafloi-150);
    color: var(--color-suld-0);
  }

  .SiteSearchInput > .FormField__input::after,
  .SiteSearchInput__button::before {
    content: "search";
    content: "search" / "";

    display: inline-block;
    text-indent: 0;
    text-align: center;
    width: 1em;
    vertical-align: top;
    font-family: iconfont, icons, Esja, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    letter-spacing: normal;
    font-size: var(--icon-size--large);
    -moz-osx-font-smoothing: grayscale;
  }
  .SiteSearchInput > .FormField__input::after,
  .SiteSearchInput__button {
    overflow: hidden;
    white-space: nowrap;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: -0.0625rem;
    width: var(--ssi-height);
    height: var(--ssi-height);
    line-height: var(--ssi-height);
    border: solid 0.125rem transparent;
    border-radius: 0 var(--FormField--input--border-radius)
      var(--FormField--input--border-radius) 0;
  }
  .SiteSearchInput__button::before {
    width: 100%;
    margin-right: 1px;
  }
  .SiteSearchInput > .FormField__input::after {
    color: var(--color-suld-100);
    background-color: var(--color-suld-0);
    background-clip: padding-box;
    pointer-events: none;
  }
}
