@charset "UTF-8";
@media screen {
  .AccordionList {
    max-width: 792px;
    margin-top: calc(2.5862068966% + 24.7586206897px);
    --leftIndent: calc(3.6363636364vw + 20.3636363636px);
    --iconWidth: calc(2.7272727273vw + 15.2727272727px);
  }
  .before-sprinkling .AccordionList, .AccordionList[data-is-seen=false] {
    opacity: 0;
    transform: translateY(200px);
  }
  .AccordionList[data-is-seen=""], .AccordionList[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .AccordionList[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
}
@media screen and (min-width: 760px) {
  .AccordionList {
    --leftIndent: var(--grid-1-1);
    --iconWidth: var(--grid-1);
  }
}
@media screen {
  .AccordionList--wide {
    max-width: 1104px;
  }
}
@media screen {
  .AccordionList__item {
    margin-bottom: 3.5rem;
  }
}
@media screen {
  .AccordionList__item--disabled {
    opacity: 0.5;
  }
}
@media screen {
  .AccordionList__title {
    font: var(--font-sh-s);
    font-weight: 700;
    padding-left: var(--leftIndent);
  }
}
@media screen {
  .AccordionList__button {
    position: relative;
    color: inherit;
    margin-left: calc(-1 * var(--leftIndent));
    padding-left: var(--leftIndent);
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) button.AccordionList__button:not([aria-controls]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) button.AccordionList__button:not([aria-controls])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`aria-controls` missing." !important;
  }
}
@media screen {
  .AccordionList__button:hover,
.AccordionList__button:active {
    color: #0367e1;
  }
}
@media screen {
  .AccordionList__button[disabled] {
    color: inherit;
  }
}
@media screen {
  .AccordionList__button::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    position: absolute;
    left: 0;
    width: var(--iconWidth);
    font-size: 0.7em;
    color: #2a2b2c;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
  }
}
@media screen {
  .AccordionList__button[aria-pressed=true]::before,
.AccordionList__button[aria-expanded=true]::before {
    transform: rotateZ(0);
  }
}
@media screen {
  .AccordionList__button:hover::before,
.AccordionList__button:active::before {
    color: #013b70;
  }
}
@media screen {
  .AccordionList__content {
    font: var(--font-bd-l);
    font: var(--font-bd-l);
    transition: all 200ms ease-in;
    transition-property: opacity, visibility, max-height, padding-top;
    overflow: hidden;
    margin-left: var(--leftIndent);
    padding-top: 2rem;
    max-height: 4000px;
    opacity: 1;
  }
  .AccordionList__content h2 {
    font: var(--font-hd-s);
    margin-bottom: var(--h2--marginBottom, var(--baseVerticalMargin));
    clear: both;
  }
  .AccordionList__content * + h2 {
    margin-top: var(--h2--marginTop, 1.5em);
  }
  .AccordionList__content h3 {
    font: var(--font-sh-l);
    margin-bottom: var(--baseVerticalMargin);
    clear: both;
  }
  .AccordionList__content * + h3 {
    margin-top: var(--h3--marginTop, 1.25em);
  }
  .AccordionList__content h4 {
    font: var(--font-sh-s);
    margin-bottom: var(--baseVerticalMargin);
  }
  .AccordionList__content p {
    margin-bottom: var(--baseVerticalMargin);
  }
  .AccordionList__content ul {
    list-style: none;
    padding: 0;
    margin-bottom: var(--baseVerticalMargin);
  }
  .AccordionList__content ul > li {
    margin-bottom: var(--space-2);
    position: relative;
    padding-left: var(--space-4);
  }
  .AccordionList__content ul > li::before {
    content: " ";
    float: left;
    margin-left: var(--space-4--neg);
    left: 0;
    width: var(--space-2);
    border-top: 0.125rem solid var(--theme-color-primary--safeish);
    margin-top: -0.0625rem;
    transform: translateY(50%);
  }
  .AccordionList__content ol {
    margin-bottom: var(--baseVerticalMargin);
  }
  .AccordionList__content li ol,
.AccordionList__content li ul {
    margin-bottom: 0;
  }
  .AccordionList__content blockquote:not(.BlockQuote__quote):not(.PullQuote__quote) {
    --Quote--line: 2px solid var(--theme-color-primary);
    --Quote--indent: 0;
    max-width: calc(792px - var(--Quote--indent));
    padding-top: var(--space-5);
    margin-left: var(--Quote--indent);
    position: relative;
    font: var(--font-bd-s);
    position: relative;
    margin-bottom: var(--space-4);
    padding-left: calc(var(--space-2) + 2px);
  }
  .AccordionList__content blockquote:not(.BlockQuote__quote):not(.PullQuote__quote)::before {
    content: "”";
    color: var(--theme-color-primary);
    font-size: 4.5rem;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 2px;
    text-align: center;
    width: 0.6em;
    margin-left: -0.3em;
  }
}
@media screen and (min-width: 480px) {
  .AccordionList__content blockquote:not(.BlockQuote__quote):not(.PullQuote__quote) {
    padding-left: calc(var(--space-3) + 2px);
    --Quote--indent: var(--space-2);
  }
}
@media screen {
  .AccordionList__content blockquote:not(.BlockQuote__quote):not(.PullQuote__quote)::after {
    content: "";
    position: absolute;
    border-left: var(--Quote--line);
    top: var(--space-5);
    bottom: 0;
    left: 0;
    width: 2px;
  }
}
@media screen {
  .AccordionList__content blockquote:not(.BlockQuote__quote):not(.PullQuote__quote) > *:last-child {
    margin-bottom: 0;
  }
}
@media screen {
  .AccordionList__content > :last-child {
    margin-bottom: 0;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .AccordionList__content h1,
html:not([data-disable-css-warnings-with-abandon=true]) .AccordionList__content h2,
html:not([data-disable-css-warnings-with-abandon=true]) .AccordionList__content h3 {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .AccordionList__content h1::before,
html:not([data-disable-css-warnings-with-abandon=true]) .AccordionList__content h2::before,
html:not([data-disable-css-warnings-with-abandon=true]) .AccordionList__content h3::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Only use <h4/> and below here" !important;
  }
}
@media screen {
  .AccordionList__content .TextBlock {
    max-width: none;
    margin: 0;
  }
}
@media screen {
  html.before-sprinkling .AccordionList__item:not([data-sprinkled]) > .AccordionList__content {
    display: none;
  }
}
@media screen {
  .AccordionList__content[hidden] {
    display: block;
    padding-top: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }
}