@media screen {
  .FooterInfo {
    flex-basis: 100%;
    padding-top: var(--space-4);
  }
}
@media screen and (min-width: 760px) {
  .FooterInfo {
    padding-top: calc(2 * var(--space-8));
    padding-left: var(--grid-1-1);
  }
  .FooterInfo::after {
    content: " ";
    clear: both;
    display: block;
    height: 0;
  }
}
@media screen {
  .FooterInfo::before {
    content: "";
    display: block;
    margin: 0 auto calc(2 * var(--space-6)) auto;
    background: url("/assets/reykjavik-logo-notext.svg") 50% 50% no-repeat;
    background-size: auto 100%;
    width: 2.1875rem;
    height: 3.3125rem;
  }
}
@media screen and (min-width: 760px) {
  .FooterInfo::before {
    position: absolute;
    left: 0;
    width: var(--grid-1);
  }
}
@media screen {
  .FooterInfo__group {
    margin-bottom: var(--space-8);
  }
}
@media screen and (min-width: 760px) {
  .FooterInfo__group {
    float: left;
    width: var(--grid-4);
    margin-left: var(--grid-gutter);
  }
}
@media screen and (min-width: 980px) {
  .FooterInfo__group {
    width: var(--grid-3);
  }
}
@media screen {
  .FooterInfo__group[role=contactinfo] {
    background-color: #f8f8f9;
    padding: var(--space-8) var(--grid-gutter);
  }
}
@media screen and (max-width: 759px) {
  .FooterInfo__group[role=contactinfo] {
    margin-left: var(--grid-margin--neg);
    margin-right: var(--grid-margin--right--neg);
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin--right);
  }
}
@media screen and (min-width: 760px) {
  .FooterInfo__group[role=contactinfo] {
    margin-top: var(--space-8--neg);
    margin-left: 0;
    width: var(--grid-5);
  }
}
@media screen and (min-width: 1368px) {
  .FooterInfo__group[role=contactinfo] {
    width: var(--grid-4);
    margin-left: var(--grid-1-1);
  }
}
@media screen {
  .FooterInfo__grouptitle {
    font: var(--font-sh-s);
    margin-bottom: var(--space-3);
  }
}
@media screen {
  .FooterInfo__groupcontent h4 {
    font: var(--font-sh-s);
    margin-bottom: var(--space-1);
  }
}
@media screen {
  .FooterInfo__groupcontent h4:not(:first-child) {
    margin-top: var(--space-3);
  }
}
@media screen {
  .FooterInfo__groupcontent p,
.FooterInfo__groupcontent ul,
.FooterInfo__groupcontent li {
    margin-bottom: var(--space-2);
    --current-link-color: var(--link-color);
  }
}
@media screen {
  .FooterInfo__groupcontent a[href^="tel:"] {
    --link-color: var(--current-link-color);
  }
}
@media screen {
  .FooterInfo__groupcontent a > small {
    font-size: 1em;
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: #707275;
  }
}