/*!@deps
    Attention
  */

@media screen {
  @media screen {
    .TextBlock {
      width: 100%;
      max-width: 584px;
    }
    @media (min-width: 760px) {
      .TextBlock--align--right {
        margin-left: auto;
        max-width: none;
        width: var(--grid-7);
      }
    }

    .TextBlock--wide {
      margin-left: 0;
      max-width: 792px;
    }

    html:not([data-disable-css-warnings-with-abandon="true"])
      .TextBlock--align--right.TextBlock--wide:hover {
      --WARNING--message: "`--align--right` can't be `--wide`";
      box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
    }
    html:not([data-disable-css-warnings-with-abandon="true"])
      .TextBlock--align--right.TextBlock--wide:hover::before {
      all: initial !important;
      order: -999 !important;
      font-family: sans-serif !important;
      position: absolute !important;
      white-space: nowrap !important;
      z-index: 2 !important;
      font-size: 12px !important;
      line-height: 1.5em !important;
      color: red !important;
      background-color: rgba(255, 26, 26, 0.5) !important;
      padding: 0 0.5em !important;
      content: var(--WARNING--message) !important;
    }
  }

  .TextBlock {
    font: var(--font-bd-l);
  }

  .TextBlock h2 {
    font: var(--font-hd-s);
    margin-bottom: var(--h2--marginBottom, var(--baseVerticalMargin));
    clear: both;
  }
  .TextBlock * + h2 {
    margin-top: var(--h2--marginTop, 1.5em);
  }
  .TextBlock h3 {
    font: var(--font-sh-l);
    margin-bottom: var(--baseVerticalMargin);
    clear: both;
  }
  .TextBlock * + h3 {
    margin-top: var(--h3--marginTop, 1.25em);
  }
  .TextBlock h4 {
    font: var(--font-sh-s);
    margin-bottom: var(--baseVerticalMargin);
  }
  .TextBlock p {
    margin-bottom: var(--baseVerticalMargin);
  }
  .TextBlock ul {
    list-style: none;
    padding: 0;
    margin-bottom: var(--baseVerticalMargin);
  }

  .TextBlock ul > li {
    margin-bottom: var(--space-2);
    position: relative;
    padding-left: var(--space-4);
  }

  .TextBlock ul > li::before {
    content: " ";
    float: left;
    margin-left: var(--space-4--neg);
    left: 0;
    width: var(--space-2);
    border-top: 0.125rem solid var(--theme-color-primary--safeish);
    margin-top: -0.0625rem;
    transform: translateY(50%);
  }
  .TextBlock ol {
    margin-bottom: var(--baseVerticalMargin);
  }
  .TextBlock li ol,
  .TextBlock li ul {
    margin-bottom: 0;
  }
  /* blockquote:not([class]), // Too strict??*/
  .TextBlock blockquote:not(.BlockQuote__quote):not(.PullQuote__quote) {
    --Quote--line: 2px solid var(--theme-color-primary);
    --Quote--indent: 0;

    max-width: calc(792px - var(--Quote--indent));
    padding-top: var(--space-5);
    margin-left: var(--Quote--indent);
    position: relative;
  }

  .TextBlock blockquote:not(.BlockQuote__quote):not(.PullQuote__quote)::before {
    content: "”";
    color: var(--theme-color-primary);
    font-size: 4.5rem;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 2px;
    text-align: center;
    width: 0.6em;
    margin-left: -0.3em;
  }

  .TextBlock blockquote:not(.BlockQuote__quote):not(.PullQuote__quote) {
    font: var(--font-bd-s);
    position: relative;
    margin-bottom: var(--space-4);
    padding-left: calc(var(--space-2) + 2px);
  }
  @media (min-width: 480px) {
    .TextBlock blockquote:not(.BlockQuote__quote):not(.PullQuote__quote) {
      padding-left: calc(var(--space-3) + 2px);
      --Quote--indent: var(--space-2);
    }
  }
  .TextBlock blockquote:not(.BlockQuote__quote):not(.PullQuote__quote)::after {
    content: "";
    position: absolute;
    border-left: var(--Quote--line);
    top: var(--space-5);
    bottom: 0;
    left: 0;
    width: 2px;
  }
  .TextBlock
    blockquote:not(.BlockQuote__quote):not(.PullQuote__quote)
    > *:last-child {
    margin-bottom: 0;
  }

  .TextBlock > :last-child {
    margin-bottom: 0;
  }

  .before-sprinkling .TextBlock,
  .TextBlock[data-is-seen="false"] {
    opacity: 0;
    transform: translateY(200px);
  }

  .TextBlock[data-is-seen=""],
  .TextBlock[data-is-seen="true"] {
    opacity: 1;
    transform: none;
  }

  .TextBlock[data-is-seen="true"] {
    transition: all 500ms ease-in-out;

    transition-property: opacity, transform;
  }

  .before-sprinkling [data-is-seen] .TextBlock,
  [data-is-seen] .TextBlock[data-is-seen="false"] {
    opacity: 1;
    transform: none;
  }

  [data-is-seen] .TextBlock[data-is-seen=""],
  [data-is-seen] .TextBlock[data-is-seen="true"] {
    opacity: initial;
    transform: initial;
  }

  [data-is-seen] .TextBlock[data-is-seen="true"] {
    transition: none;
  }

  .TextBlock {
    position: relative;
    margin-bottom: calc(1.0775862068965518% + 16.982758620689655px);
  }
  .TextBlock--small {
    font: var(--font-bd-s);
  }

  .TextBlock--small h2 {
    font: var(--font-sh-l);
  }
  .TextBlock--small h3 {
    font: var(--font-sh-s);
  }
  .TextBlock--small h4 {
    font: var(--font-bd-l);
    font-weight: var(--font-weight--bold);
  }

  /* ---------------------------------------------------------------------------*/

  .TextBlock--labelled h2 {
    font: var(--font-sh-l);
    display: flex;
  }

  .TextBlock--labelled h2::before {
    content: "";

    float: left;
    margin-top: 0.7em;
    height: 0.25rem;
    background-color: var(--theme-color-primary--safeish);
    transform: translateY(-50%);
    width: var(--dash-width, 1.125em);
    margin-right: var(--dash-margin, 0.625em);
    margin-left: var(--dash-indent);
  }

  @media (min-width: 760px) {
    .TextBlock--labelled {
      --h2--marginTop: 2em;
      --h2--marginBottom: 0.25em;

      margin-left: auto;
      width: 56.95364238410596%;
    }
    .TextBlock--labelled h2 {
      display: block;
      position: relative;
      width: 34.437086092715234%;
      --dash-width: calc(0.45 * var(--grid-margin));
      --dash-margin: 0;
      --dash-indent: var(--grid-margin--neg);

      width: auto;
      height: 0;
      margin-left: -75.5813953488372%;
      padding-right: 115.11627906976744%;
    }
  }

  /* ---------------------------------------------------------------------------*/

  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock--small.TextBlock--labelled:hover {
    --WARNING--message: "`--small` can't be `--labelled`";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock--small.TextBlock--labelled:hover::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock--wide.TextBlock--labelled:hover {
    --WARNING--message: "`--wide` can't be `--labelled`";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock--wide.TextBlock--labelled:hover::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  /* ---------------------------------------------------------------------------*/

  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock--largetext:hover {
    --WARNING--message: '`--largetext` is Outdated. TextBlock is "large" by default';
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock--largetext:hover::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock__title:hover {
    --WARNING--message: "`__title` is Outdated. Use PageHeading/SubHeading";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock__title:hover::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock
    .PageHeading:hover,
  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock
    .SubHeading:hover {
    --WARNING--message: "Should NOT be used inside TextBlock";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock
    .PageHeading:hover::before,
  html:not([data-disable-css-warnings-with-abandon="true"])
    .TextBlock
    .SubHeading:hover::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }
}

/* ===========================================================================*/

.before-sprinkling .PageHeading,
.PageHeading[data-is-seen="false"] {
  opacity: 0;
  transform: translateY(200px);
}

.PageHeading[data-is-seen=""],
.PageHeading[data-is-seen="true"] {
  opacity: 1;
  transform: none;
}

.PageHeading[data-is-seen="true"] {
  transition: all 500ms ease-in-out;

  transition-property: opacity, transform;
}

.before-sprinkling [data-is-seen] .PageHeading,
[data-is-seen] .PageHeading[data-is-seen="false"] {
  opacity: 1;
  transform: none;
}

[data-is-seen] .PageHeading[data-is-seen=""],
[data-is-seen] .PageHeading[data-is-seen="true"] {
  opacity: initial;
  transform: initial;
}

[data-is-seen] .PageHeading[data-is-seen="true"] {
  transition: none;
}

@media screen {
  .PageHeading {
    width: 100%;
    max-width: 584px;
  }
  @media (min-width: 760px) {
    .PageHeading--align--right {
      margin-left: auto;
      max-width: none;
      width: var(--grid-7);
    }
  }
}

.PageHeading {
  font: var(--font-hd-l);
  margin-top: calc(2.586206896551724% + -7.241379310344826px);
  margin-bottom: 0.625em;
}
.PageHeading--small {
  font: var(--font-hd-m);
}

@media screen {
  .Heading {
    width: 100%;
    max-width: 584px;
  }
  @media (min-width: 760px) {
    .Heading--align--right {
      margin-left: auto;
      max-width: none;
      width: var(--grid-7);
    }
  }

  .Heading--wide {
    margin-left: 0;
    max-width: 792px;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .Heading--align--right.Heading--wide:hover {
    --WARNING--message: "`--align--right` can't be `--wide`";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .Heading--align--right.Heading--wide:hover::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }
}

.Heading {
  font: var(--font-hd-m);
  margin-top: calc(1.9083969465648856vw + 33.89312977099237px);
  margin-bottom: calc(0.7633587786259541vw + 21.55725190839695px);
}

@media (min-width: 1368px) {
  .Heading {
    margin-top: 60px;
    margin-bottom: 32px;
  }
}
.Heading--large {
  font: var(--font-hd-l);
}
.Heading--small {
  font: var(--font-hd-s);
}

.Heading a {
  --link-color: _inherit;
  --link-underline: none;
  --link-underline--hover: none;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  h1.Heading:not([data-dev-forcedh1]):hover {
  --WARNING--message: "Only use <H2/> or lower for .Heading";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  h1.Heading:not([data-dev-forcedh1]):hover::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

.before-sprinkling .SubHeading,
.SubHeading[data-is-seen="false"] {
  opacity: 0;
  transform: translateY(200px);
}

.SubHeading[data-is-seen=""],
.SubHeading[data-is-seen="true"] {
  opacity: 1;
  transform: none;
}

.SubHeading[data-is-seen="true"] {
  transition: all 500ms ease-in-out;

  transition-property: opacity, transform;
}

.before-sprinkling [data-is-seen] .SubHeading,
[data-is-seen] .SubHeading[data-is-seen="false"] {
  opacity: 1;
  transform: none;
}

[data-is-seen] .SubHeading[data-is-seen=""],
[data-is-seen] .SubHeading[data-is-seen="true"] {
  opacity: initial;
  transform: initial;
}

[data-is-seen] .SubHeading[data-is-seen="true"] {
  transition: none;
}

@media screen {
  .SubHeading {
    width: 100%;
    max-width: 584px;
  }
  @media (min-width: 760px) {
    .SubHeading--align--right {
      margin-left: auto;
      max-width: none;
      width: var(--grid-7);
    }
  }

  .SubHeading--wide {
    margin-left: 0;
    max-width: 792px;
  }

  html:not([data-disable-css-warnings-with-abandon="true"])
    .SubHeading--align--right.SubHeading--wide:hover {
    --WARNING--message: "`--align--right` can't be `--wide`";
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon="true"])
    .SubHeading--align--right.SubHeading--wide:hover::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 26, 26, 0.5) !important;
    padding: 0 0.5em !important;
    content: var(--WARNING--message) !important;
  }
}

.SubHeading {
  font: var(--font-sh-l);
  margin-top: calc(0.9541984732824428vw + 36.94656488549619px);
  margin-bottom: calc(0.9541984732824428vw + 16.946564885496183px);
}

@media (min-width: 1368px) {
  .SubHeading {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
.SubHeading--small {
  font: var(--font-sh-s);
}

.SubHeading a {
  --link-color: _inherit;
  --link-underline: none;
  --link-underline--hover: none;
}

html:not([data-disable-css-warnings-with-abandon="true"]) h1.SubHeading:hover {
  --WARNING--message: "Only use <H2/> or lower for .SubHeading";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  h1.SubHeading:hover::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

p.Sharpie,
ol.Sharpie,
ul.Sharpie,
li.Sharpie,
div.Sharpie {
  color: inherit;
}

html:not([data-disable-css-warnings-with-abandon="true"]) p.Sharpie:hover,
html:not([data-disable-css-warnings-with-abandon="true"]) ol.Sharpie:hover,
html:not([data-disable-css-warnings-with-abandon="true"]) ul.Sharpie:hover,
html:not([data-disable-css-warnings-with-abandon="true"]) li.Sharpie:hover,
html:not([data-disable-css-warnings-with-abandon="true"]) div.Sharpie:hover {
  --WARNING--message: "Only use `Sharpie` on inline elements";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}

html:not([data-disable-css-warnings-with-abandon="true"])
  p.Sharpie:hover::before,
html:not([data-disable-css-warnings-with-abandon="true"])
  ol.Sharpie:hover::before,
html:not([data-disable-css-warnings-with-abandon="true"])
  ul.Sharpie:hover::before,
html:not([data-disable-css-warnings-with-abandon="true"])
  li.Sharpie:hover::before,
html:not([data-disable-css-warnings-with-abandon="true"])
  div.Sharpie:hover::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
.Sharpie--green {
  color: var(--color-ellidaardalur-150);
}
.Sharpie--red {
  color: var(--color-heidmork-100);
}

/* Medium is the default.*/
.VSpacer[class] {
  margin: 0;
  margin-top: var(--component-vspace--medium);
  margin-bottom: var(--component-vspace--medium);
}
.VSpacer--small[class] {
  margin-top: var(--component-vspace--small);
  margin-bottom: var(--component-vspace--small);
}
.VSpacer--large[class] {
  margin-top: var(--component-vspace--large);
  margin-bottom: var(--component-vspace--large);
}
.VSpacer--xlarge[class] {
  margin-top: var(--component-vspace--xlarge);
  margin-bottom: var(--component-vspace--xlarge);
}

.VSpacer--top--none[class] {
  margin-top: 0;
}
.VSpacer--top--small[class] {
  margin-top: var(--component-vspace--small);
}
.VSpacer--top--large[class] {
  margin-top: var(--component-vspace--large);
}
.VSpacer--top--xlarge[class] {
  margin-top: var(--component-vspace--xlarge);
}

.VSpacer--bottom--none[class] {
  margin-bottom: 0;
}
.VSpacer--bottom--small[class] {
  margin-bottom: var(--component-vspace--small);
}
.VSpacer--bottom--large[class] {
  margin-bottom: var(--component-vspace--large);
}
.VSpacer--bottom--xlarge[class] {
  margin-bottom: var(--component-vspace--xlarge);
}

br.VSpacer[class], /* @deprecated (remove in v0.9)*/
  /* Drop-in (non-wrapping) <hr/> variant.*/
  hr.VSpacer[class] {
  display: block;
  height: 0;
  border: 0;
  margin-bottom: 0;
}
br.VSpacer + [class], /* @deprecated (remove in v0.9)*/
  /* Drop-in spacers override the top-margin of their next component sibling*/
  hr.VSpacer + [class] {
  margin-top: 0;
}

/* Disallow double *--none classNames*/
.VSpacer--top--none.VSpacer--bottom--none {
  margin-top: var(--component-vspace--small);
  margin-bottom: var(--component-vspace--small);
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .VSpacer--top--none.VSpacer--bottom--none:hover {
  --WARNING--message: "VSpacer can't be both `--top--none` and  `--bottom--none`";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  .VSpacer--top--none.VSpacer--bottom--none:hover::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

/* Warn about redundant classNames*/
html:not([data-disable-css-warnings-with-abandon="true"])
  [class*="VSpacer--top--"][class*="VSpacer--bottom--"]
  .VSpacer--small:hover {
  --WARNING--message: "The class-name `.VSpacer--small` is redundant";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  [class*="VSpacer--top--"][class*="VSpacer--bottom--"]
  .VSpacer--small:hover::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  [class*="VSpacer--top--"][class*="VSpacer--bottom--"]
  .VSpacer--large:hover {
  --WARNING--message: "The class-name `.VSpacer--large` is redundant";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  [class*="VSpacer--top--"][class*="VSpacer--bottom--"]
  .VSpacer--large:hover::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  [class*="VSpacer--top--"][class*="VSpacer--bottom--"]
  .VSpacer--xlarge:hover {
  --WARNING--message: "The class-name `.VSpacer--xlarge` is redundant";
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon="true"])
  [class*="VSpacer--top--"][class*="VSpacer--bottom--"]
  .VSpacer--xlarge:hover::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 26, 26, 0.5) !important;
  padding: 0 0.5em !important;
  content: var(--WARNING--message) !important;
}

@media screen {
  .ArticleMeta {
    font: var(--font-bd-s);
    color: var(--color-suld-150);
    margin-bottom: var(--space-1);
  }
  .ArticleMeta--small {
    font: var(--font-label);
  }
  .ArticleMeta__item {
    display: inline-block;
  }
  .ArticleMeta__item:not(:last-child)::after {
    content: " | ";
    margin: 0 0.25em;
    text-decoration: none;
    color: var(--color-suld-150);
  }

  .ArticleMeta + .Heading {
    margin-top: 0;
  }
}
